[2021-07-28 12:05] beardyinc opened #15 "Restructuring/Refactoring of code base"
The code base should be reorganised to improve structure, readability and modularity. An initial proposal and comments have been made, see [Restructuring.md](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/files/6892872/Restructuring.md) and [Comments.md](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/files/6892894/Comments.md) respectively.

[2021-08-02 23:01] denisneuling opened #17 "Add CONTRIBUTING.md"
A `CONTRIBUTING.md` file should be provided stating how potential contributors can help with the project.

<sub> Denis Neuling <denis.neuling@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md)

[2021-08-03 06:46] DominikPinsel opened #18 "[Eclipse] Copyright Header"
We need to include a copyright header in every source file, see
https://www.eclipse.org/projects/handbook/#ip-copyright-headers

[code]

<sub> Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md)</sub>

[2021-08-03 06:47] DominikPinsel opened #19 "[Eclipse] Legal Notice NOTICE file"

[2021-08-03 06:50] DominikPinsel opened #20 "[Eclipse] Include LICENSE and NOTICE file in every jar"
Suggest to include those file in every jar, even if we just distribute those as part of the fat jar inside the docker container.
see https://www.eclipse.org/projects/handbook/#legaldoc-distribution

something like that inside build.gradle allprojects section should solve it:

[code]

<sub> Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daim

[2021-08-03 06:53] DominikPinsel opened #22 "[Build] Define Java version in Gradle"
We should set a fixed java language version. Best would be to stick to latest LTS, i.e. java11.
Applies for gradle builds and docker file creation.

<sub> Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md)</sub>

[2021-08-03 06:55] DominikPinsel opened #24 "Rename client to consumer"
Suggest to replace "client" by "consumer" in the extensions code as this term is used in IDS and Gaia-X documents.
Also feels more natural to have the pair "provider & consumer" instead of "provider & client".

<sub> Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md)</sub>

[2021-08-03 07:08] paullatzelsperger opened #25 "Add various secrets to the repo settings"
In order for the CI build to run through, we need to add the following repository secrets:
- `AZ_STORAGE_KEY`: for tests against Azure Storage accounts
- `AZ_STORAGE_SAS`: for tests against Azure Storage accounts
- `COSMOS_KEY`: for tests against Azure CosmosDB
- `S3_ACCESS_KEY_ID`: for tests involving an S3 Bucket
- `S3_SECRET_ACCESS_KEY`: for tests involving an S3 Bucket
- `RUN_INTEGRATION_TEST`

[2021-08-03 07:42] beardyinc commented on #18
I can do this in a one-shot commit with Intellij.
- Is the initial copyright holder `Microsoft Corporation`?
- Should the `Contributors` section be initially left blank or should it be:
    `Contributors: 1`
    `Microsoft Corporation - initial commit`

that would result in the following header:

[code]

[2021-08-03 14:43] DominikPinsel opened #27 "[Design] Dataspace Connector Logo"
I think having a logo helps the project a lot. We can use it in the documentation, so that the reader can recognize the project easier. It also helps the project to look more professional and makes it easier to sell our product to people, who are not involved yet.
Additionally the image can be used in various documents or presentation, which again, helps the project to look more professional.

I t

[2021-08-04 07:50] MoritzKeppler commented on #18
and don't miss to adjust the LICENSE file :-)

[2021-08-04 07:50] jimmarino commented on #18
Some small modifications (year and contributor description):

/*
 * Copyright (c) 2020, 2021 Microsoft Corporation [and others]
 *
 *  This program and the accompanying materials are made available under the
 *  terms of the Apache License, Version 2.0 which is available at
 *  https://www.apache.org/licenses/LICENSE-2.0
 *
 *  SPDX-License-Identifier: Apache-2.0
 *
 *  Contributors:
 *       Micr

[2021-08-04 07:51] jimmarino commented on #18
Also, [and others] is not added at first but as soon as it is modified, it is appended

[2021-08-04 08:08] #15 closed

[2021-08-09 08:23] sn0wcat opened #31 "README.md is not current"
The readme is still talking about microsoft/data-application-gx and not about eclipse-dataspace connector.

[2021-08-09 10:26] MoritzKeppler commented on #18
solved by #29

[2021-08-09 10:26] #18 closed

[2021-08-09 11:05] MoritzKeppler commented on #31
thx, we will provide an updated version soon!

[2021-08-09 15:50] MoritzKeppler commented on #31
@beardyinc maybe you can have a look

[2021-08-09 16:13] beardyinc commented on #31
will do.

[2021-08-09 19:42] jimmarino opened #35 "StatusCheckerRegistryImpl should be in a subpackage"
...maybe /provision?

@beardyinc

[2021-08-09 20:43] beardyinc commented on #35
PR is at https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/pull/36

[2021-08-10 05:37] beardyinc commented on #35
can we close this issue since the related PR was already merged?

[2021-08-10 07:19] sn0wcat commented on #31
Is the CLA requirement in the README.md just a remnant of the past project? I actually thought that there is agreement within Catena-X network not to go with CLAs?

[2021-08-10 07:27] #35 closed

[2021-08-10 07:48] MoritzKeppler commented on #31
We will remove the requirement to sign a Microsoft CLA.
But as it's an Eclipse project you need to sign the Eclipse Contributors Agreement to contribute.

[2021-08-12 14:08] Jayasheel opened #39 "HTTPS proxy config"
My build server is behind firewall and needs to go through a Proxy server. gradlew -> gradle-wrapper.jar apparently does not have a way to specify a proxy server and build is stuck at:
Downloading https://services.gradle.org/distributions/gradle-7.1.1-bin.zip

[2021-08-13 07:40] DominikPinsel opened #41 "Implementent Basic IDS Self-Description API of the Connector"
This is the corresponding issue for the defined offer interfaces in the draft pull request #38

**The connector should be able to answer IDS self-description requests for itself. It is not necessary to support description requests of artifacts and resources yet.**

I also assume for the implementation
* A new _DescriptionMultipartController_ should be added to a new _IDS Multipart API Extension_.

[2021-08-13 08:23] MoritzKeppler commented on #39
have you tried to configure the proxy as described in
https://docs.gradle.org/current/userguide/gradle_wrapper.html and
https://docs.gradle.org/current/userguide/build_environment.html#sec:accessing_the_web_via_a_proxy

<sub> Moritz Keppler <moritz.keppler@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md)</sub>

[2021-08-20 07:21] empea-careercriminal commented on #27
Is this being worked on? Do you need any support @mspiekermann ?

[2021-08-30 15:13] gaertnern opened #45 "GAIA-X Hackathon: Task 4: Enhance IDS API and policies"
Initial task:
- Look at improving the IDS data sharing API (only partially implemented)

[2021-08-30 15:51] gaertnern commented on #45
Assessment by Werner Jost and Nadine Gaertner and Markus Spiekermann:
- all existing interfaces in the EDSC (including the IDS data sharing API) appear generic enough to support both Daps and DIDs

[2021-08-30 15:51] #45 closed

[2021-08-31 09:31] mspiekermann commented on #27
We are working on some drafts for the logo. But ofc feel free to contribute you ideas @empea-careercriminal, much appreciated!

[2021-09-01 11:46] mygordienko opened #46 "Provide openAPI spec for REST endpoints"
Would be nice to have something providing an API description either on the build stage or in runtime. For example, it could be a swagger plugin that adds an additional endpoint, like `/swagger.json`.

[2021-09-02 13:38] #17 closed

[2021-09-03 08:00] mspiekermann opened #47 "Data catalog seeding"
Define the data asset model and fill the data catalog with data and metadata

[2021-09-03 08:01] mspiekermann opened #48 "Contract offer framework"
Implement the framework as an extension. In a first step provide a contract that just allows everything as a response.

[2021-09-03 08:02] mspiekermann opened #49 "IDS-Messaging"
-	Implement DAPS Communication / Identity Management
-	Implement an extension that understands IDS-REST messages and responses accordingly
-	/map incoming & outgoing IDS-messages into internal asset index (internal cata-log)

[2021-09-03 08:03] mspiekermann opened #50 "Contract negotiation"
-	Concept/Implementation for the negotiation using IDS-REST
-	Persist / Contract management (implement interfaces and (initially) a basic in-memory storage)

[2021-09-03 08:03] mspiekermann opened #51 "Data transfer"
-	Implement data exchange (push data to HTTP-endpoint)
-	Trigger IDS

[2021-09-03 08:04] mspiekermann opened #52 "Logging and Monitoring"
Write an extension for basic logging and monitoring

[2021-09-03 08:05] mspiekermann opened #53 "Integrate Spiffe"
Being able to control and protocol the usage of data requires identities for every kind of workload coming in touch with it.
SPIFFE/SPIRE could be technical solution. Let's use this issue to discuss how a potential integration would look like.

<sub> Moritz Keppler <moritz.keppler@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRI

[2021-09-03 08:10] DominikPinsel commented on #47
Hello everyone,

@denisneuling and I have already defined some kind of asset model for the offer implementation (which is not finished at the time of writing).

Currently its like this
- the EDC SPI has an  _Asset_ interface. At the time of writing this interface contains only an id.
- the IDS Extension has an _IdsAsset_ interface. This interface implements some IDS properties, which are used to d

[2021-09-03 08:23] bscholtes1A commented on #47
Hi everyone,
this topic is of particular interest for us (Amadeus) and we would be glad to participate actively on it.
Can be discussed during next dev meeting.
Benjamin.

[2021-09-03 08:24] denisneuling commented on #47
As @DominikPinsel already mentioned we're working on that topic. @mspiekermann Since we cannot ourselves would you please be so kind and add both of us to the Assignees list?

[2021-09-03 08:26] jimmarino commented on #47
Is Benjamin on the Teams chat?

Jim

On Fri, Sep 3, 2021 at 10:23 AM bscholtes1A ***@***.***>
wrote:

[2021-09-03 08:30] bscholtes1A commented on #47
Hi Jim,
I am not, could you please add me?
Benjamin.

[2021-09-03 08:32] jimmarino commented on #47
Markus, I think you are the admin. Could you add Benjamin?

Jim

On Fri, Sep 3, 2021 at 10:30 AM bscholtes1A ***@***.***>
wrote:

[2021-09-03 08:40] mspiekermann commented on #47
done!

[2021-09-03 11:19] jimmarino opened #54 "Get all integration tests running again in Eclipse"

[2021-09-03 11:23] jimmarino opened #55 "Get AWS infrastructure for the project"

[2021-09-03 11:25] jimmarino commented on #55
@FlorianSeidelAWS said he could help with this

[2021-09-03 11:39] beardyinc commented on #54
Most i-tests need some form of credentials for external systems (such as Azure, AWS,...), which need to be stored as repo secrets. Only Admins can add repo secrets, so we must request (temporary) admin status from EF and then add the secrets.

[2021-09-03 11:49] mspiekermann commented on #54
related to #25

[2021-09-03 11:50] MoritzKeppler commented on #49
we decided not to depend on the IDS messaging service just the information model library.

[2021-09-03 12:06] MoritzKeppler opened #56 "Integrate DID/SSI"
Sovereign identities can foster a sovereign data exchange.
Beside the DAPS proposed by IDS today we'd like to prepare the EDC for integration of decentralized identifier / self-sovereign identity solutions.

[2021-09-03 12:07] jimmarino commented on #56
From this branch:

https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/tree/gaiax-hackathon/registration-service

[2021-09-03 12:08] FlorianSeidelAWS commented on #55
Hi all,

Policy prohibits me from giving access to externals to our internal accounts. I think the simplest way to get an AWS account for the project would be for me to provide AWS credits to pay for it, but that would require someone with a credit card to create the account. I’ll try to find someone at AWS who is willing to use their card for it. If someone else volunteers their credit card, that

[2021-09-03 12:13] MoritzKeppler commented on #46
thx for this issue. We agree and will provide open api specs with our first release.

[2021-09-03 12:14] #39 closed

[2021-09-03 13:09] beardyinc commented on #56
@jimmarino lets hold on here a bit, i'm currently cleaning that one up considerably. i'll post the relevant PR here when that's done.

[2021-09-06 07:45] jimmarino commented on #52
I think this is already covered by the console monitor. This output can be piped directly from a deployed container to logging infrastructures such as DataDog or LogStash or stated.

Is there an additional requirement?

[2021-09-06 10:44] beardyinc commented on #24
can we close this, as PR #40 was already merged?

[2021-09-06 11:40] MoritzKeppler commented on #24
PR merged

[2021-09-06 11:40] #24 closed

[2021-09-06 12:15] beardyinc opened #59 "Record and publish an onboarding video"
In order to become more scalable a short video introduction to the different moving parts of the connector will be recorded.
Most notably this will involve the following areas not necessarily in that order:
- basic folder structure
- nomenclature (what is a "runtime", "connector", "launcher", "extension", etc.)
- the ServiceLoader mechanism
- core components such as `Vault`,` Monitor`, `TransferPr

[2021-09-06 12:16] beardyinc opened #60 "Create Onboarding Experience"
In order to make it easier to welcome new community members (devs, companies, ...) we should create an easy-to-understand onboarding experience.

I propose a multi-step tutorial:
1) build and operate your first connector (i.e. the `launchers/basic` launcher)
2) write your first extension e.g. write a simple HTTP `/hello-world` endpoint
3) implement your first file transfer process using the file-c

[2021-09-07 07:00] mspiekermann commented on #59
Si, I will clarify that with EF asap.

[2021-09-08 05:54] MoritzKeppler commented on #31
PR merged

[2021-09-08 05:54] #31 closed

[2021-09-08 10:51] mygordienko opened #62 "Extension compatibility strategy"
Looking at the _DemoS3FlowController_ I wonder how it can be sure that required fields are in the _DataAddress_ properties (ex. _bucketName_). I assume that providers and consumers can have different versions of the extensions. How does a consumer understand that it is supposed to send bucketName and object key separately and not in one URL?

[2021-09-08 13:03] mygordienko opened #63 "Provide API specification"
It would be helpful to have an API specification (ex. Swagger) for consumer/provider controllers.

[2021-09-08 13:17] mygordienko opened #64 "Itemize possible destination types"
In DemoUiApiController I noticed the _dataspaceconnector:s3_ constant being used to configure destination type.
Shouldn't there be a complete list of such constants?

[2021-09-09 07:17] softabout opened #65 "spi folder potentially contains classes/packages not directly involved in SPI loading"
The directory/module "spi" should only contain interfaces (and the classes used to define these interfaces) that define the types of service provider interfaces (SPIs) which are loaded by java.util.ServiceLoader.
Currently these are:
- MonitorExtension
- ServiceExtension
- VaultExtension

and their base interfaces.

The following packages contain interfaces which are not directly loaded by java.ut

[2021-09-09 07:27] MoritzKeppler commented on #52
logging: maybe users want ways to format log lines in a unique way (add fields dynamically, json format, ...); maybe System.out
monitoring: offer endpoints for tools like prometheus etc.
<sub> Moritz Keppler <moritz.keppler@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md)</sub>

[2021-09-09 07:56] softabout commented on #52
I think it would make sense to define different extensions for logging and monitoring and use/integrate - if possible - already existing implementations (e.g. logging -> slf4j).
The console monitor as currently defined provides basic logging functionality but does not provide interfaces for monitoring the performance and health of the system.

<sub> Helmut Pfister <helmut.pfister@daimler.com>, Dai

[2021-09-09 08:05] mygordienko opened #66 "API for Metadata management"
How metadata records are supposed to get into _MetadataStore_? For now, there is no API for that, only some test values get stored during Nifi extension initialization.

[2021-09-09 14:16] beardyinc commented on #59
Videos are done, I put them in my OneDrive and will share the link upon request.

[2021-09-10 09:45] MikhailGordienk opened #67 "DataRequest managed resources"
Why is the `managedResources` flag set to true by default? I can implement FlowController that just moves files from one existing S3 bucket to another, without creating additional resources, and the corresponding `TransferProcess` will still be marked as having managed resources.

Also, having that flag set during `DataRequest` instance creation means the decision about whether to provide addition

[2021-09-10 11:32] mspiekermann commented on #63
related to #46. We will work on that and provide a specification with the first release.

[2021-09-10 11:32] #63 closed

[2021-09-10 11:43] mspiekermann commented on #60
PR #61  merged

[2021-09-10 11:43] #60 closed

[2021-09-10 12:49] MikhailGordienk opened #68 "Protocol negotiation"
In case a Provider does not support the requested type (ex. does not support S3) shouldn't there be any procedure for the Consumer to propose another protocol.

[2021-09-10 13:28] jimmarino commented on #65
Hi Helmut,

The original id of the SPI was to include all interfaces required to implement an extension, which would include a combination of a ServiceExtension and services provided to the runtime. In other words, both interfaces related to the JDK ServiceLoader mechanism (which is the basis of EDC extensibility) as well as interfaces for runtime services.

The benefit of having these in one modu

[2021-09-10 13:34] jimmarino commented on #64
Hi,

This is something that needs to be formalized in the runtime. Since the possible supported destination types are determined by the set of configured extensions in a runtime, I propose creating a destination type registry where data transfer extensions can register the destination type they support during bootstrap. This will build the list of supported destination types that can later be quer

[2021-09-10 13:34] #64 closed

[2021-09-10 13:37] jimmarino commented on #62
Hi,

This will be part of the contract of a supported destination type. Destination addresses are similar to a URL where different schemes use different encoding mechanisms. For example, we will define what is required for an "S3" destination type, and the client will be expected to adhere to that.

[2021-09-10 13:37] #62 closed

[2021-09-10 13:47] jimmarino commented on #67
Hi,

This attribute is used on the client to drive if resource generation should be done on the client. In most cases, this should be true, even if resources do not need to be generated. Otherwise, resource generation will be skipped on the client.

We made a design decision to separate resource generation from flow controllers as they are two distinct concerns. For example, resource generation su

[2021-09-10 13:47] #67 closed

[2021-09-10 13:48] jimmarino commented on #56
@beardyinc OK cool. Should we close this out since there is already a PR for this work?

[2021-09-11 07:57] beardyinc commented on #56
we can either close it or link it to #58

[2021-09-13 10:26] MikhailGordienk commented on #67
Hello! Thanks for the feedback.
Could you please give an example scenario when this flag would be false?
Also, provisioning can be done on the provider side too, why there is no such flag for the provider-managed resources?

[2021-09-13 11:37] jimmarino commented on #68
Hi,

There will be a mechanism (as part of the requested artifact metadata) for the provider to advertise its supported destination types. The consumer will need to support one of those types.

[2021-09-13 11:37] #68 closed

[2021-09-13 11:39] jimmarino commented on #22
Hi @DominikPinsel, I assigned you to this, I hope that is OK :-)

[2021-09-13 11:40] jimmarino commented on #48
@MoritzKeppler Do you think it would be a good idea to create a Wiki page containing the domain model diagram and link to it from here? I would do that, but I believe I do not have the latest version of the model.

[2021-09-13 12:23] MoritzKeppler commented on #66
We plan to replace MetadataStore with Contracts, ContractOffers, Assets, AssetIndex etc, see https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/docs/Terminology.md
Assume there will be multiple implementations in future, e.g. an AssetIndex that is backed by an existing data catalog (e.g. ApacheAtlas) but also a solutions that offer REST APIs to manage metadata of Assets.
<s

[2021-09-13 14:03] MoritzKeppler commented on #65
I like the idea to make it more obvious how SPI, extensions and services play together: we load extensions via SPI, those extension can register one or more services at the central registry, potentially based on interfaces defined in the SPI module. But extensions can also lookup other services and register things there (e.g. provisioners).
What about moving all interfaces that are looked up via

[2021-09-13 14:06] MoritzKeppler commented on #48
have you checked the models uploaded by Dominik: https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/tree/main/docs/diagrams ?
Why "wiki page" or do you mean markdown doc in the sourcecode repo?
<sub> Moritz Keppler <moritz.keppler@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md)</sub>

[2021-09-13 15:51] jimmarino commented on #65
I don't think the module is really an API since an API is an ingress into the system and could be confused with other modules that do this. I'm not keen on "interfaces" either since that is ambiguous.

I still think "SPI" captures the intent since it is an EDC "Service Provider Interface" - i.e. the interfaces providers need to implement to contribute a service to the runtime. Basically, it's an a

[2021-09-13 15:54] jimmarino commented on #48
Ah, that's it, thanks.

Here is the link I was referring to:

https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/docs/diagrams/context-model-contract.png

[2021-09-13 15:57] jimmarino commented on #67
Hi,

There could be a case where no resource generation is required. For example, the client and provider have the necessary infrastructure, credentials, etc. to initiate a data transfer. That saves the step of having to provide a no-op provisioner.

[2021-09-13 19:13] kbData opened #70 "Roadmap and backlog"
is a rough roadmap or backlog (jira?) available for the project?

[2021-09-13 19:21] kbData opened #71 "tranport protocols and protocol negotiation"
in case if multiple transport protocols are supported by connectors, how is a transport protocol for the transfer agreed upon between the communication parties? can consumer or producer put prios (i.e S3>FTP)? is the tranport protocol negotiation reflected in the APIs as of now? is there a must-have set of transport protocols which has to be implemented by any connector on the network to ensure co

[2021-09-14 06:28] beardyinc commented on #71
Consumers may specify how they want to receive the data, meaning, they can specify the data destination. This also includes the destination _type_, e.g. "AmazonS3" or "FTP" or whatever.

Of course as a precondition, both the consumer and the provider must implement the same binding. The connector may announce during self-description what bindings it supports.
In case two connectors don't have any

[2021-09-14 06:29] beardyinc commented on #70
We intend to use Github Issues for any kind of planning.

[2021-09-14 07:11] jimmarino opened #72 "Setup Teams/Slack channels"
People are using the Issues list to ask for more detail on the project roadmap and implementation questions.

I propose we do three things:

1. Move design and roadmap discussions to a specific chat channel (Teams or Slack). We could repurpose the "General" Teams channel for this.

2. Create a separate channel for people to post questions.

3. Only use issues to file bug requests, feature requests

[2021-09-14 07:12] beardyinc opened #73 "Create Checkstyle configuration and Github Action"
In order to ensure a consistent code style let's create a [CheckStyle](https://checkstyle.sourceforge.io) configuration that is enforced as a pre-PullRequest check on Github.

Why CheckStyle? Because it's open-source, widely used, highly configurable, has plugins for most Java IDEs, Gradle, Maven and also has a (actually several) Github Action(s).

Checkstyle is configured using an XML file, which

[2021-09-14 07:19] MikhailGordienk opened #74 "Security token in request body"
Why JWT tokens are passed in the request body and not in the header as regular bearer tokens?

[2021-09-14 07:32] MikhailGordienk opened #75 "Multiple extensions for the same feature"
Will it be possible to support multiple extensions of the same type (ex. multiple Vault types)?

[2021-09-14 08:09] jimmarino commented on #75
This is currently supported in two ways:

1. One Vault implementation can be substituted for another by configuring the appropriate extensions (e.g. include the Vault module you want in your build)

2. In case you want to store secrets in different places, implement a multiplexing vault extension that delegates to different Vault backends

[2021-09-14 08:09] #75 closed

[2021-09-14 08:15] jimmarino commented on #74
This is part of the current IDS specification. There is a new IDS REST API where (I believe) tokens will be passed as headers. It may make more sense to pass them as part of a defined envelope header due to the practical size restrictions on HTTP headers.

Support for the IDS REST API is currently in progress.

Alternatively, someone could create their own REST API for the connector.

[2021-09-14 08:15] #74 closed

[2021-09-14 09:17] MikhailGordienk opened #76 "Policy evaluation and rule enforcement"
It looks like policy evaluation is currently done on the provider side and performed by checking JWT token claims against stored policy (please correct me if I am wrong here).
Could you please provide an example of such JWT tokens and an example of their evaluation against the corresponding policy?

What are mechanisms to enforce policy on the client side (ex. delete the data after some period)?

[2021-09-14 13:19] mspiekermann commented on #59
YT channel created and videos published (s. https://www.youtube.com/channel/UCYmjEHtMSzycheBB4AeITHg). Thanks a lot @beardyinc, great resource for onboarding new people.

[2021-09-14 13:19] #59 closed

[2021-09-15 06:21] MoritzKeppler opened #78 "[Eclipse] provide SECURITY.md"
At the latest with our first release we should provide a SECURITY.md describing how vulnerabilities can be reported.

See:
https://www.eclipse.org/security/policy.php
https://gitlab.eclipse.org/eclipse/dash/org.eclipse.dash.handbook/-/issues/150

Example:
https://github.com/eclipse/rdf4j/blob/main/SECURITY.md

<sub> Moritz Keppler <moritz.keppler@daimler.com>, Daimler TSS GmbH, [legal info/Impress

[2021-09-15 10:33] paullatzelsperger opened #79 "Discuss and improve extension-dependency naming scheme"
Lets see if we can come up with a consistent and intuitive way to express dependencies (i.e. the `requires()` and `provides()`) that is consistent over all modules.

There are a few suggestions:
1) fully qualified classname. Can be problematic when one extension provides several features and when several modules provide the same feature.
2) a hierarchical namespace like `edc:<feature>[:<subfeature

[2021-09-15 11:54] DominikPinsel commented on #50
Hello everyone,

@denisneuling and I would like to start with the implementation. We would like to split this into several pull request:
- SPI Interfaces and implementation of
  - Negotiation Service
  - Auto Approval Service
- In Memory Contract Store (sample)
- IDS REST or Multipart

@MoritzKeppler Please assign this issue to us

<sub>Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH

[2021-09-15 12:23] MikhailGordienk commented on #67
But that is exactly the case I described in the beginning(two existing S3 buckets) and it would be better to have that flag set to false, but in fact, it is set to true and there is no way to change it (no corresponding field in the request payload).

Currently, If I do a consumer/provider demo with S3-to-S3 copying I get the consumer process stuck in _REQUESTED_ACK_ state

[code]
which, I believe

[2021-09-15 13:19] jimmarino commented on #79
I like the approach in 2. IMO the problem with 1 is that it ties dependencies to specific implementation classes. Instead, they should be a symbolic name. For example, one extension may provide 2 or more features that clients depend on.

The advantage of 2 the way you defined it is the symbolic name can also be a URN and we can reserve "edc" to avoid clashes.

[2021-09-15 13:28] jimmarino commented on #76
Hi,

Policy evaluation can also be done on the client-side...it's just that it hasn't been implemented yet.

The JWT structure is just a standard JWT with the added constraint that claims should be key-value string pairs (no complex type values). Th specific claims that are passed in the JWT is implementation-specific.

For examples of policy evaluation, please see the test cases and usage of the

[2021-09-15 13:30] jimmarino commented on #73
LGTM. Quick question - Is there a way enforce line wrapping minimums and maximums?

[2021-09-15 14:52] beardyinc commented on #73
There sure is for maximums: https://checkstyle.sourceforge.io/config_sizes.html#LineLength
currently we have that set at 250.
Can't really think of a use case where a min line length would make sense. Mostly we'd have to do that with any of the other (code style) checks.

[2021-09-15 20:10] jimmarino commented on #67
Hi,

Note the use case I described is different, i.e. no resources, *including temporary credentials*, need to be generated. That is an edge case since you would nearly always provide some form of credential to the provider in this scenario.

As I mentioned, the default setting was a conscious design decision.

[2021-09-16 06:24] MikhailGordienk commented on #67
I don't see the difference. In my case, I do not create credentials (ex. a responsible user put them into the vault in advance).
And I do not see the way this flag can be changed, because it is set automatically in the constructor. There is no way I can configure it when calling _DemoUiApiController_.

But I see, that there have been new changes recently and there are new file-copy examples now. I

[2021-09-16 07:38] MikhailGordienk commented on #76
Hello! Thanks for the feedback.

I believe for the "one up, one down" case a data type is not important. It might be just a file.
On the Provider side evaluation is done based on policy, token, and connector IDs. Consider a scenario when I have
a bunch of files comprising some sort of data tree and three different consumers want to access that files.
I want to be able to serve specific files (subs

[2021-09-16 08:06] DominikPinsel commented on #79
Maybe another, complete different, approach. Wouldn't a dependency injection framework solve this problem, too? Because the framework should be able to resolve dependencies on it's own, so it won't be necessary to track them manually in an array.
It also would simplify other things, like the primordial load phase. And using DI frameworks is somewhat state of the art, so every developer knows how t

[2021-09-16 13:10] jimmarino commented on #79
There were a number of reasons why we chose not to use a DI framework such as Spring (version clashing, a gazillion dependencies, abstractions on abstractions, non-standard APIs, keeping the connector codebase small so its security footprint is manageable, etc.). I think these are fair trade-offs for an application but they become problematic for low-level code that has to be deployed in varied en

[2021-09-16 13:43] jimmarino commented on #76
Yes, you would need to look inside the token for a verifiable credential and map that to an identity.

Each connector will have access to a set of assets it shares via an AssetIndex (work in progress). Each asset will be associated with a set of policies that can be used to determine access rights. Those access rights can be mapped to an identity resolved through the JWT. This should be sufficient

[2021-09-16 13:58] MikhailGordienk commented on #76
Oh, I think I see now. This is where resource management comes into play. The consumer-side storage might also be provisioned dynamically according to the policy configured for the requested resource. And, in general, storage is not necessarily something that consumers or providers have full control over (ex. it might be separate geospatial-aware storage that a consumer will be allowed to access o

[2021-09-16 14:31] jimmarino commented on #76
Yep, that's it!

[2021-09-17 09:40] beardyinc opened #81 "Improve Launcher concept"
- [x] Move out the runtime code (e.g. `ConnectorRuntime.java`) to the `core:bootstrap` module, make it overridable

- [x] introduce bill-of-material (BOM) build files, much like the IDS BOM or the Ion BOM
- [x] the launcher's `build.gradle.kts` then just references BOMs resulting in a very simplistic basic launcher

The upside of that is that we don't need to dupllicate the `*Runtime.java` files a

[2021-09-17 11:38] MoritzKeppler commented on #72
what about https://docs.github.com/en/discussions ?

[2021-09-17 11:58] #73 closed

[2021-09-18 18:23] mspiekermann commented on #72
It has advantages for the community to have the information in one single location.  Github discussions are perfect for this, that's why we just activated the Discussions-Tab (https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/discussions).

Ofc we are happy to receive suggestions for more categories etc.

[2021-09-18 18:23] #72 closed

[2021-09-20 08:28] sn0wcat opened #83 "[Eclipse] Move the project to eclipse organization on github"
Will this project be moved to eclipse organization on github?

[2021-09-20 08:51] MoritzKeppler commented on #83
no, this project will stay here. But this org + repo is managed by Eclipse.

[2021-09-20 08:51] #83 closed

[2021-09-20 13:11] jimmarino opened #84 "Standardize EDC Setting Keys"
The EDC setting keys should be standardized and implement a namespace feature. Dot notation is used already, so we should probably reserve the first segment for that purpose. The issue is some settings use "dataspaceconnector" while others use "edc". For example:

public class CosmosTransferProcessStoreExtension implements ServiceExtension {

    @EdcSetting
    private static final String COSMOS_

[2021-09-21 17:31] mspiekermann commented on #78
Can be closed by merging PR #85

[2021-09-21 17:31] #78 closed

[2021-09-22 12:24] ticapix opened #90 "DCAT-AP"
Hi,

Is it part of the roadmap to integrate [DCAT-AP](https://joinup.ec.europa.eu/collection/semantic-interoperability-community-semic/solution/dcat-application-profile-data-portals-europe) to increase semantic interoperability with existing European data catalogues ?

Best regards,
Pierre

[2021-09-22 14:06] MoritzKeppler opened #92 "Improve folder structure"
We will have multiple associated services in our repo next to the connector, e.g. registration service for DID functionality.
I suggest to update the folder structure in a way that makes it easier to understand, which code belongs to which service.
Proposal:
[code]
each service can have the following subfolders
[code]
What do you think?
<sub> Moritz Keppler <moritz.keppler@daimler.com>, Daimler TS

[2021-09-22 18:34] MikhailGordienk opened #93 "Missing Jackson annotation"
Hello!

I believe there is a missing `@JsonAnySetter` annotation in _GenericDataCatalogEntry.Builder_, it should be as follows:

[code]

[2021-09-23 06:42] MikhailGordienk commented on #93
PR: https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/pull/94

[2021-09-23 06:52] jimmarino commented on #92
+1

[2021-09-23 07:24] clange commented on #90
Yes, it is on the agenda. The IDS Information Model is already largely compatible with DCAT-AP; see https://github.com/International-Data-Spaces-Association/InformationModel/issues/277. A separate but also relevant process is cleaning up the information model towards direct reuse of DCAT terms rather than reinventing parts of it in the IDS namespace, due end of 2021. (@JohannesLipp could you pleas

[2021-09-23 12:35] jimmarino commented on #70
Since we now have Discussions setup, I'm going to close this out

[2021-09-23 12:35] #70 closed

[2021-09-23 12:46] jimmarino opened #95 "Decouple status checking from provisioned resources"
Currently StatusChecker takes a type of Provisioned resource:

`boolean isComplete(T provisionedResource);`

StatusCheckerRegistry also dispatches based on the ProvisionedResource type. This has the unintended side-effect of coupling transfer status checking to resource provisioning. For example, if an extender wants to implement a DataFlowController and supply a StatusChecker, they must also impl

[2021-09-23 12:55] #22 closed

[2021-09-23 14:26] MikhailGordienk opened #96 "Provide S3-to-S3 transfer demo"
Would be helpful to have a complete demo where a consumer can request
a file from a provider and the transfer will be done completely on the AWS side.

This demo would show the case when resource provisioning is not necessary.

[2021-09-23 14:37] MikhailGordienk commented on #96
PR: https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/pull/97

[2021-09-24 11:39] ilyash-b opened #105 "Race condition in Observable.java"
https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/84bb9597b4ed18ad177fe82e475661a53000d762/spi/src/main/java/org/eclipse/dataspaceconnector/spi/Observable.java#L35-L36

Imagine two threads registering same listener. Both get into `if`, then both register.

Not 100% sure. Can somebody take a look?

[2021-09-24 11:41] MoritzKeppler commented on #90
thx, Christoph!

[2021-09-24 11:41] #90 closed

[2021-09-24 11:42] ilyash-b opened #106 "Inconsistent naminging in Observable.java"
https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/84bb9597b4ed18ad177fe82e475661a53000d762/spi/src/main/java/org/eclipse/dataspaceconnector/spi/Observable.java#L40

For consistency should be `unregisterListener`.

[2021-09-24 13:33] jimmarino commented on #106
Hi thanks, would you like to submit a PR for this?

[2021-09-24 13:36] ilyash-b commented on #106
I am not familiar enough with the project to submit any PRs. I was just looking at the code.

[2021-09-24 13:38] jimmarino commented on #105
This would likely not happen:

(1) Runtime bootstrap is single-threaded

(2) If a listener was registered after runtime boot, the same object instance would need to be registered from two different threads, which would have to be intentionally done (since it is the same object instance or a poor implementation of .equals().

[2021-09-24 13:38] #105 closed

[2021-09-24 13:40] jimmarino commented on #106
OK, thanks. I'll leave it as a potential enhancement for someone to look at.

[2021-09-25 16:36] mohitsaxenaknoldus commented on #106
Please assign it to me I'll do it.

[2021-09-27 12:56] #95 closed

[2021-09-27 17:26] paullatzelsperger opened #110 "Add custom Checkstyle Checks"
While checkstyle already has a good usable library of code style checks, not everything is covered by it. For extensibility it offers a [way to implement custom checks](https://checkstyle.sourceforge.io/writingchecks.html) based on the AST (abstract syntax tree) of a java class.

In order to keep a tighter control on our code style we should implement checks that:

- [ ] prohibit `final` on local

[2021-09-30 07:26] JohannesLipp commented on #90
FYI the relevant issues in the IDSA info model repository are:
https://github.com/International-Data-Spaces-Association/InformationModel/issues/461
https://github.com/International-Data-Spaces-Association/InformationModel/issues/490

[2021-09-30 14:05] beardyinc commented on #81
pull request #114

[2021-10-04 04:32] DominikPinsel commented on #92
I think that's great idea. What do you think about restructuring the extension directory, too?
It would be nice if the directory structure would show which part of the system is extended.

Examples:
- /filesystem/configuration-fs -> /configuration/filesystem
- /filesystem/vault-fs -> /vault/filesystem
- /aws/s3/provision -> /transfer/provision/aws/s3
- /aws/s3/s3-schema -> /schemas/aws/s3
- /azure

[2021-10-04 09:12] DominikPinsel opened #116 "Branch naming in Contribution.md"
It would be nice if the Contribution.md defines the naming pattern of branches. Most of the branches start with "feature/{id}-{name}", which comes from GitFlow (we currently do not use). It would be nice to have a common schema documented in our Contribution.md.

<sub>Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/

[2021-10-04 10:37] DominikPinsel opened #118 "Replace Metadatastore with AssetIndex"
Hello everyone,

I hope I understood correct, that the AssetIndex replaces the Metadata store. In case I understood this wrong, please feel free to close this issue.

If I'm correct this issue includes

- Delete the Metadatastore interface
- Adjust existing implementations, so that they use the AssetIndex instead
- Extend the AssetIndex Interface, so that it can be queried by Asset ID

At least so

[2021-10-04 10:39] DominikPinsel opened #119 "SPI to Policy-Model reference"
Hello everyone,

at the time of writing the SPI references the policy model extension. I think the SPI should not depend on any EDC extension. Therefore I would suggest moving the code from the policy model to the SPI and delete it. The policy model is included in the SPI by reference anyway.

<sub>Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github

[2021-10-04 10:44] DominikPinsel opened #120 "Rename Monitor to Logger"
Hello everyone,

I think naming the logger Monitor can be misleading. As far as I know it's a de facto standard, naming the logger component Logger (or similar).
Also, if we add at some point a real monitor component, we would have to rename it anyway.

<sub>Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEG

[2021-10-04 11:43] DominikPinsel opened #123 "Move Configuration out of ServiceExtension"
Hello everyone,

currently the Service Extension is used to load the configuration. I assume it is better if the configuration is part of its own service.

This would
- reduce the size of the ServiceExtension Interface (separation of concerns)
- prevent that low level implementations, that only care about configuration, reference the whole ServiceExtension interface

<sub>Dominik Pinsel <dominik.p

[2021-10-04 11:54] DominikPinsel opened #124 "ServiceExtensionContext should be able to provide multiple instances of the same type"
Hello everyone,

at the time of writing the ServiceExtensionContext interface cannot provide multiple interfaces of the same type. A current workaround is to register some kind of interface registry at the ServiceExtensionContext, which then can be used to retrieve multiple interfaces of the same type.
I would prefer it, if the ServiceExtensionContext would be able to return a List of implemented

[2021-10-04 12:21] DominikPinsel opened #125 "Validate IDS Self-Description against SHACL Shapes"
Hello everyone,

as mentioned in [this](https://github.com/International-Data-Spaces-Association/InformationModel/issues/468) closed issue from the information model, the self-description should be validated against SHACL shapes.
In the ([currently open](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/pull/115)) IDS self-description pull request there is no SHACL validation implem

[2021-10-04 14:04] jimmarino commented on #120
The intent of the Monitor interface is not simply to function as a log but to also provide a mechanism for observing system messages (different than events).

I'd propose we selectively tackle issues given the amount of roadmap work we have.

[2021-10-04 14:16] jimmarino commented on #119
This is by design. The core policy model (different from the policy engine) should not depend on any runtime classes. The idea here is that the policy model can be embedded in an offline tool for authoring policy.

The other benefit is this would allow policy enforcement in external subsystems.

[2021-10-04 14:17] DominikPinsel commented on #119
ah ok :) Then it was just a misunderstanding on my side. Now that you mention it, I think you already explained it at some point in time. Thanks for the fast reply and  I will close this issue now.

[2021-10-04 14:17] #119 closed

[2021-10-04 14:23] jimmarino commented on #123
I'm not sure about tunnelling a configuration object through multiple layers of services. The pattern we have used thus far is ServiceExtension implementations access configuration from the context and configuration is explicitly passed to downstream services. That makes it explicit which configuration an extension is using. Downstream services do not need to reference ServiceExtension or ServiceE

[2021-10-05 06:27] jimmarino commented on #125
Are you proposing that the self-description "should validate against" a specific shapes graph, i.e. the output conforms to a specific "schema", or that the runtime "must validate" a self-description as it is produced during a request?

[2021-10-05 06:29] jimmarino commented on #118
Sounds good, but we should only do this after the AssetIndex work is functional and the extensions using MetadataStore have been migrated. Otherwise, we will break those downstream extensions.

[2021-10-05 06:30] jimmarino commented on #93
Thanks Mikhail! Closing this out.

[2021-10-05 06:30] #93 closed

[2021-10-05 06:33] jimmarino commented on #84
@bscholtes1A did your PR solve this and can we close this issue out?

[2021-10-05 06:44] jimmarino commented on #124
This would be simple to implement but I'm not sure it will make the registry concept obsolete. If the registry is removed, then each service implementation will need to guarantee that it is registered in the extension context prior to clients that depend on it.

This situation is handled by DI graphs, but introducing such a framework will then require us to write bind implementations into the DI c

[2021-10-05 07:03] DominikPinsel commented on #124
Yea, I also though about this. This becomes a problem if we get cyclic dependency between "service-extension-interface-packages". I don't know how to name it better 😄
While this is a problem and makes it impossible for the ServiceExtensionContext to provide multiple interfaces at once, I think it would be really interesting to know whether this is the case in the code base. Just from a design pers

[2021-10-05 07:29] DominikPinsel commented on #125
If a saw it correct in the code, IDS-Messaging-Services does the SHACL validation only on responses.

But I would assume our mapping from the EDC to the IDS model is not always perfect. The existing factories are not checking for values, that are not nullable. Everything that is allowed by the Fraunhofer IDS Information Model Builder, is also allowed by our factories. For example in case someone s

[2021-10-05 07:41] MoritzKeppler commented on #125
Would be great to detect misconfigurations as early as possible, e.g. during startup, to avoid that a user accidently breaks IDS conformity. Not sure if we need to have the check being executed on every message. Maybe enough to check with every release that we produce valid structures.
<sub> Moritz Keppler <moritz.keppler@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Da

[2021-10-05 08:38] MoritzKeppler commented on #81
@beardyinc guess we can close this issue, right?

[2021-10-05 08:50] beardyinc commented on #81
yup, think so. PR #114  is already merged.

[2021-10-05 08:53] jimmarino commented on #125
I think I agree with Moritz. That is expensive to do at runtime or even startup.  Instead, this can be done through testing.

[2021-10-05 08:56] jimmarino commented on #124
I'm not sure I follow the cyclic dependency issue. The runtime already checks for cyclic dependencies between requires/provides at boot.

I'm not against adding support for multiple service implementations but I don't think it will allow us to replace the registry pattern.

[2021-10-05 09:42] DominikPinsel commented on #125
Yea. There's already a TODO for that in the IDS ConfigurationProvider class. We didn't implement this, because we logger/monitor doesn't have a warning level yet. That's maybe also something we need a new issue for. I made a note and will create this issue in the next days.

Back to the shapes validation: Do you agree, that you should validate the shapes in request and response messages?

[2021-10-05 09:46] denisneuling commented on #124
Hi @jimmarino, I've created a draft pull requests extending the DefaultServiceExtensionContext making it able to provide a list of service instances instead of just one. As you already mentioned the code change will not introduce any new issues while computation of the dependency graph happens, since that's done prior during boot phase.

[2021-10-05 11:19] bscholtes1A commented on #84
@jimmarino yeap, we can close it

[2021-10-05 11:19] bscholtes1A commented on #96
@jimmarino I guess this one can closed as well

[2021-10-05 12:02] #84 closed

[2021-10-05 12:02] #96 closed

[2021-10-05 12:07] jimmarino commented on #125
Let's discuss this today. In general, I don't see the need to do schema validation (as opposed to other types of validation) during request/response handling.

What type of validation are you proposing, and would that be handled by EDC code or an external library?

[2021-10-06 06:35] denisneuling opened #127 "Acquire IDS DAT token from DAPS"
In order to enable two IDS-speaking connectors to communicate with each other we have to make them able to obtain and use [DAT](https://github.com/International-Data-Spaces-Association/IDS-G/blob/main/Components/IdentityProvider/DAPS/README.md) tokens from [DAPS](https://github.com/International-Data-Spaces-Association/IDS-G/blob/main/Components/IdentityProvider/DAPS/README.md) instances. The IDS

[2021-10-06 13:44] DominikPinsel opened #129 "Add warning and error level to the monitor"
Hello everyone,

at the moment it's not possible to log warnings. I think it would be helpful if the EDC would be able to show warnings, in case some configuration is missing or sample extensions are used in production.
And, if the monitor is updated anyway, I would suggest adding the error level, too.

<sub>Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](http

[2021-10-07 07:56] DominikPinsel commented on #120
Thanks for the reply. Now I understand why its named monitor :) Should we still rename the component to logger for now? This would prevent confusion, because currently it looks and is used like a logger. If the monitor appears on the roadmap, and the current Monitor class should still be used as monitor, we can rename it again.

[2021-10-07 09:13] ndr-brt commented on #118
Maybe the issue could be divided in some tasks which would be solvable by different PRs, like:
- introduce an in-memory implementation of the `AssetIndex` (similar to the `DemoAssetIndex`)
- add the `findById` method to `AssetIndex`
- substitute the usages of `MetadataStore` with `AssetIndex` (and migrate the extension to use the in-memory `AssetIndex`)

We also need to establish a mapping between

[2021-10-08 04:28] DominikPinsel commented on #118
You are right. Maybe a ``findById`` with an ``Optional<Asset>>`` as return value is the better solution.

Regarding the ``DataEntry``.  I assume this class should be deleted, too. But the current ``Asset`` implementation cannot describe any means of transportation,  like it is done with the ``DataAddress``. So maybe we must add this to the list as well.

[2021-10-08 12:44] oxisto opened #134 "Cannot build on MacBook M1"
It seems, it is not possible to build the connector on an arm64 Mac platform.

To reproduce (on mac/arm64):

`./gradlew clean build`

[code]

Is it possible to circumvent the download of an extra toolchain? It's not really needed as I have already an arm64 java toolchain installed.

[2021-10-08 13:22] schanzen commented on #56
Hey (DAPS operator here). I would just like to point two issues that are also related to the changes in #58:

1. A self-signed JWT is NOT a verifiable credential as stated in the code. If you want to make use of VCs in JWTs, you probably want to put a Verifiable Presentation (VP) derived from a VC into the JWT. See also https://www.w3.org/TR/vc-data-model/#json-web-token. Which brings us to:
2. Yo

[2021-10-09 08:46] jimmarino commented on #56
Hi,

Thanks for the feedback. To be clear, our approach with federated identity is to use a self-signed token with verifiable presentations and the ability to obtain additional verifiable credentials for a client via an Identity Hub.

In a DID-based system, it is possible to introduce multiple trust anchors, which allow providers to verify JWT claims and verifiable credentials obtained from an Ide

[2021-10-09 09:08] schanzen commented on #56
I was commenting on the code, which does not implement what you imply.

You can always introduce multiple trust anchors even now.
The trust is essentially established at the discretion of the callee (the endpoint verifying the DAT).
Whichever trust sources you have configured there are trusted. Nothing is keeping you from trusting multiple different DAPS instances.
Trust does not come form the eth

[2021-10-09 10:08] oxisto opened #138 "`IdsCatalogApiServiceExtension` requires a metadata store but does not declare it"
# How to reproduce

Try to start a `IdsCatalogApiServiceExtension` without a metadata store

[code]

It seems it should declare that it needs a metadata store such as `:extensions:in-memory:metadata-memory"` (which is actually provided by the basic launcher, but I am creating my own)

Seems it is missing in this function:

https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/8a5df

[2021-10-09 11:44] jimmarino commented on #56
Could you point out where that is the case? There are still parts of the code that need to be completed and filled out (it is still experimental), but I don't see how the existing code inhibits our goals.

I think we should be careful here:.I didn't say that it is impossible to introduce multiple trust anchors with existing security infrastructure. I said it is possible to so with DID-based system

[2021-10-11 08:00] DominikPinsel opened #140 "Refactor TokenResult"
Hello everyone,

currently the TokenResult looks like this
[code]

I'd suggest we make the following two changes.

1. The TokenReuslt should not have an success() and error() method. I'd like it more if the functions, that create the result, would throw an exception in case an error occurs.
2. The expiresIn is difficult to use, as it is now, because the code that want to check the expiration needs

[2021-10-11 11:34] beardyinc commented on #47
There will be more changes to the `AssetIndex` and potentially the `Asset` in an upcoming PR.

However, I think the only way a data seeding module would make sense is in the form of a `sample/`, so I'd lean towards closing this issue.

[2021-10-11 13:36] jimmarino commented on #140
I don't think we should use exceptions for flow control. If an unexpected exception occurs, it should throw an unchecked one, extending from EdcException if there is not an appropriate exception in the JDK.

Error is for things like invalid tokens or other "problems".

This is a general pattern we use throughout the codebase.

We need to be careful with expiresId being a fixed date. How will time

[2021-10-11 15:28] jimmarino commented on #140
Sorry, to clarify, I'm not talking about ignoring unexpected exceptions and returning booleans. The TokenResponse error is when there is something about the request that is in "error" (hence the term "error" instead of exception).

If there is an unexpected exception, it could be thrown (as an unchecked exception, which the codebase standardizes on). However, this must be done with care to avoid e

[2021-10-12 08:44] sn0wcat opened #143 "HTTP Based Download as part of Eclipse DataSpace Connector?"
A common scenario for integration of the existing systems with data spaces would be to offer files for download.

The following diagram showcases an integration with a s3 based software which was working with the previous versions of the connector (IDC)

![image](https://user-images.githubusercontent.com/1426617/136923084-64a147ad-a06c-412e-9f83-fe22bf61f139.png)

How is this going to work with ED

[2021-10-12 11:19] bcronin90 opened #144 "Multipart API for DescriptionRequestMessage(s)"
Hello everyone

In order to create a data catalog accessible via API, we need to extend the MultipartController. It needs to handle DescriptionRequestMessages for full data catalogs, artifacts and representations.

<sub>Brendan Cronin <brendan.cronin@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md)</sub>

[2021-10-12 12:09] jimmarino commented on #143
Thanks for the diagram, it is helpful.

A couple questions:

1. Is each artifact contained in a single file? I ask because I seem to remember that AWS temporary URLs are assigned to a file.
2. Per @beardyinc comments, how is the client going to obtain the download? For example, manually or via a process initiated by the client connector?

[2021-10-12 12:30] ndr-brt opened #145 "Replace OkHttp with Java HttpClient"
In the aim of having less external dependencies, could be good to replace `OkHttp` with the Java internal `HttpClient`:
https://openjdk.java.net/groups/net/httpclient/intro.html

[2021-10-12 12:32] DominikPinsel opened #146 "IDS is incompatible with our Policy-Model"
Hello everyone,

at the time of writing EDC policy model is not map-able to the IDS contract model. Currently, the only use case we are
mapping is the "everything allowed" policy. This special case is map-able. But as soon as there are any contract details
specified, both models clash. As the contract will probably be persistent at some point in the future, it would be nice to have a
working polic

[2021-10-13 09:16] bscholtes1A opened #147 "Validate IDS DAT token from DAPS"
In order to enable two IDS-speaking connectors to communicate with each other we have to make them able to obtain and **validate** DAT tokens from DAPS instances.

[2021-10-14 08:43] beardyinc opened #149 "Rename the Maven artifact for all in-memory modules"
Currently, they're called `in-mem`, which we should change to `in-memory`

[2021-10-15 06:29] bscholtes1A opened #151 "Asset class should be customizable"
The catalog is centered around the Asset class, each instance of this class representing basically one entry within the catalog.

At current time, the content of this class does not allow to provide some information that would potentially appear as a must in most dataspace catalogue:
- logo image for the data
- JSON schema of the data (if data are JSON documents)
- flag indicating if data is priva

[2021-10-15 07:40] jimmarino opened #152 "Distributed Identity Enhancements and Web DID Support"
## Overview
We want to support a distributed identity solution for the next Hackathon based on [Web DIDs](https://w3c-ccg.github.io/did-method-web/). Web DIDs provide an alternative to anchoring DIDs on a DLT such as a blockchain.

The basic flow is described [here](https://github.com/Metaform/didweb).

This issue will cover three areas:

1. Cleanup the distributed identity module dependencies
2.

[2021-10-15 13:21] jimmarino commented on #152
I've expanded the scope of this PR as we will need to reorganize and generalize some of the distributed identity modules.

[2021-10-16 13:31] jimmarino opened #158 "Remove Azure dependencies from registration-service module"
This module should not be dependent on Azure-related modules. Do this after #152 has been completed.

[2021-10-17 08:25] #81 closed

[2021-10-17 08:26] jimmarino commented on #106
Hi @mohitsaxenaknoldus would you still like to do this?

[2021-10-18 15:13] bscholtes1A opened #160 "ids: CatalogQueryController should return list of Assets instead of list of String"

[2021-10-19 12:08] ndr-brt opened #161 "Enable @Disabled tests"
Currently there are 10 `@Disabled` annotations used for disabling tests.
I think we should avoid this as much as we can, re-enabling useful tests making sure that they are executed by the CI.

[2021-10-19 14:40] #65 closed

[2021-10-19 17:05] jimmarino opened #162 "Typo bug initializing ContractServiceExtension"
Small typo, the null asset index is set when contractOfferFramework is not found:

        AssetIndex assetIndex = serviceExtensionContext.getService(AssetIndex.class, true);
        if (assetIndex == null) {
            monitor.warning("No AssetIndex registered. Register one to create Contract Offers.");
            assetIndex = new NullAssetIndex();
        }

        ContractOfferFramework cont

[2021-10-19 20:19] jimmarino opened #164 "Remove RegistrationService from SPI"

[2021-10-19 20:37] jimmarino opened #167 "InMemoryAssetIndex needs to be made threadsafe"
The case where the asset map is iterated during an update has to be handled, e.g. cache.values().stream();

This could be done using R/W locks or copy-on-write semantics.

Copy-on-write semantics could be implemented using an AtomiReference, creating a new map based on the existing map entries during an update, inserting into the new map (with an option for batch inserts), and resetting the Atomic

[2021-10-20 07:36] ndr-brt opened #170 "Remove DataEntry class"
As discussed in #159 , the `DataEntry` class and `DataCatalogEntry` can be removed since are replaced by `Asset` and `DataAddress` respectively.
This should be done after #159 gets merged

[2021-10-20 07:48] ndr-brt commented on #161
Yes, I see. I have some opinions that maybe we could discuss on the topics you listed.

* integration tests: I agree that those kind of test should be "marked" and executed in a separated test suite. At the moment, since the IntegrationTest execution is disabled on the CI, the @IntegrationTest and the @Disabled annotations could have the same meaning, I would prefer to use just @IntegrationTest fo

[2021-10-20 07:57] paullatzelsperger opened #172 "Create an `AssetLoader` and an in-memory impl"
For those cases where the `AssetIndex` is based on memory, we need a way to load data into it and into the `DataAddressResolver`.
`Assets` and `DataAddresses` **must always be strongly consistent**, that means there every asset must always be resolvable, otherwise the system is inconsistent.

Thus, there needs to be an `AssetLoader` interface, which has several methods to insert `Asset` and `DataA

[2021-10-20 11:40] paullatzelsperger commented on #170
Totatlly agree with doing this, though I highly recommend doing this when there are only few other PRs open as the potential for a "merge hell" is quite high due to the widespread use of `DataEntry` :)

[2021-10-20 13:57] #162 closed, assigned to DominikPinsel

[2021-10-21 08:52] ndr-brt opened #176 "gradle check is not failing if checkstyle violations are found"
I noticed that my local execution of `./gradlew clean check` went well, but then I got an error from the github action.

I investigated a little and seems like the checkstyle gradle plugin mark the problems as warnings, but I think that this should change.

The solution is to set [`maxWarnings`](https://docs.gradle.org/current/dsl/org.gradle.api.plugins.quality.Checkstyle.html#org.gradle.api.plugi

[2021-10-21 14:07] DominikPinsel opened #178 "Extend AssetIndex for Pagination/Cursoring"
Hello, everyone,

I assume the content AssetIndex might be too big to be used in one piece. If we make it accessible via IDS or another protocol it's necessary to limit the amount of processed assets per request.

I would therefore like to suggest:

- Create an **AssetIndexQuery** class with a **expression**, **limit** and a **cursor** property.
- Create an **AssetIndexResult**. That returns an **

[2021-10-22 09:34] #176 closed, assigned to nobody

[2021-10-22 12:54] ndr-brt opened #182 "DataRequest should contain only assetId"
At the moment it cointains the whole `DataEntry`/`Asset`, but it could cointain just the `assetId`

@paullatzelsperger in https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/pull/159#discussion_r733748882_

[2021-10-22 13:03] paullatzelsperger opened #183 "Remove reflection from CriterionToPredicateConverter"
Remove the reflection code from `CriterionToPredicateConverter`, move all instance variables into the `properties` field and access through constants, e.g.:
[code]

[2021-10-25 07:33] MoritzKeppler opened #185 "add "-lib" suffix to modules that provide libraries"
We should make it more obvious which module contains extensions and which just lib code, especially for those modules under ```/extensions```
Proposal: add "-lib" suffix to all modules containing library code, "-spi" suffix for all spi/interface code.
Regular extensions will go without a suffix.
<sub> Moritz Keppler <moritz.keppler@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://git

[2021-10-25 07:52] MoritzKeppler opened #186 "explore how relation between feature and service can be expressed"
We'd like to make it more obvious which services get registered as part of an extension / a feature.
So far we have the rough idea that an annotation at services can help to express the related feature name.
Feature names can then be used to express "provides" and "requires" sets.

<sub> Moritz Keppler <moritz.keppler@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimle

[2021-10-25 09:01] paullatzelsperger opened #187 "OAuth2ServiceImpl: check fingerprinting against DAPS endpoint"
In the current `OAuth2ServiceImpl` a fingerprint is created, because that's required by Active Directory Endpoints.
We should make sure that this fingerprint doesn't pose a problem for the DAPS endpoint, or if DAPS requires another fingerprint.

One way to do this is to implement an IntegrationTest that issues the request against the DAPS dev endpoint:
[code]
let's just be careful not to spam that

[2021-10-26 08:50] ouphi opened #189 "The connector cannot be run locally when following the README instructions."
Following the [README instructions](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector#run-your-first-connector) to run the connector does not work.

When running the following commands:

[code]

We get the following error:

[code]

[2021-10-26 11:58] ndr-brt opened #190 "Example persistence for AssetIndex"
Would be useful to add a sample/extension that exposes an API that permits to get/query the `AssetIndex` loaded from the FileSystem.

[2021-10-27 07:39] ndr-brt opened #193 "Avoid direct accesses to ObjectMapper"
As discussed in #191 , the responsability of ser/des objects to/from json should be of the `TypeManager` class, but here and there in the codebase there are some `ObjectMapper` direct instantiations and usages. (see `CrawlerJob` or `IdentityProviderKeyResolver` class)
Those should be avoided.
This convention should also be described into one of the `docs` markdowns.

[2021-10-27 17:05] jimmarino opened #194 "Remove extension phases and standardize usage of provides/requires"
This is related to #121. I will work on a PR ASAP.

[2021-11-01 08:40] paullatzelsperger commented on #189
We do need workings samples ASAP, I'll open another Issue that fixes that and also adds sanity checks that build and run the samples on the CI pipeline.

[2021-11-01 09:32] paullatzelsperger opened #200 "Fix broken samples and add sanity check to CI pipeline"
The currently broken samples must be fixed. Also, there should be sanity checks in the CI pipeline to build all samples, run them and make sure that they come up successfully.

[2021-11-02 05:53] DominikPinsel commented on #178
Hello everyone,
sorry for the late reply. How about this:
- We change the parameter of the `AssetIndex` to `AssetIndexQuery`.
- `AssetIndexQuery` contains the `AssetSelectorExpression`,  a `Limit` of type *long* and a `Cursor` of type Cursor.
  - The `Limit` indicates the max. number of assets to return
  - The `Cursor` is uses for continuation
- Instead of a `Stream` the `AssetIndex` returns a `A

[2021-11-02 08:52] mspiekermann commented on #146
This issue is further discussed in #132. Closing this issue to merge streams of discussion of this important topic.

[2021-11-02 13:43] DominikPinsel opened #202 "Move IDS sample code to its own extension"
Hello everyone,

at the time of writing multiple IDS extensions contain sample code for a sample data transfer. I'd suggest to moving this sample code out of the current IDS extensions, as its very confusing for anyone to differentiate between sample and non-sample code. It also falsifies the capabilities of the EDC IDS connector. As a connector that uses the IDS extensions, is "supporting" not im

[2021-11-02 13:47] jimmarino commented on #202
+1. Should they be grouped logically in a folder under /samples?

[2021-11-03 05:38] algattik opened #203 "Sample 04-file-transfer references hard-coded local path"
Running the sample results in
[code]

This is caused by:

https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/e03a38582b7865444680eb99a2d0473a69dc7fc8/samples/04-file-transfer/transfer-file/src/main/java/org/eclipse/dataspaceconnector/extensions/api/FileTransferExtension.java#L57

[2021-11-03 06:08] paullatzelsperger commented on #203
The docs clearly state that this needs to be changed to fit your local dev environment.

[2021-11-03 06:48] DominikPinsel commented on #203
Maybe it would be an idea to throw an exception in case no path was set. Just to support the documentation and to prevent confusion in case someone didn't read it.

[2021-11-03 08:50] DominikPinsel commented on #92
Would it be fine when I create a draft pull-request with these changes?

[2021-11-03 09:42] #200 closed

[2021-11-03 10:43] paullatzelsperger opened #206 "Implement basic connector observability"
We should provide a module that implements basic connector observability by offering the following features:
### A `health` endpoint
returns information about the system status. This is primarily intended to be used in [`HEALTHCHECK` instructions in Docker files](https://docs.docker.com/engine/reference/builder/#healthcheck).

### A `liveness` endpoint
From the [Kubernetes docs](https://kubernetes

[2021-11-03 11:04] algattik opened #207 "Wrong maven artifactId for dataaddress-resolver-memory"
This seems to be a copy-paste error. As it generates a duplicate artifact it causes a conflict on maven publish.

https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/56a6bc1f62bf316d9414980605ee0bf938333293/extensions/in-memory/dataaddress-resolver-memory/build.gradle.kts#L25

[2021-11-03 11:05] algattik commented on #203
How about having the path as configuration? Then we could pass it via command line, the doc and usage would be clearer

[2021-11-03 13:49] jimmarino commented on #207
Hey @algattik would you be able to submit a PR for this?

[2021-11-03 15:24] #41 closed

[2021-11-03 15:25] DominikPinsel commented on #41
Replaced by #144

[2021-11-04 07:38] jimmarino commented on #189
@paullatzelsperger has this been resolved?

[2021-11-04 07:40] paullatzelsperger commented on #189
I think this was fixed by #201

[2021-11-04 14:37] mspiekermann commented on #25
AZ_STORAGE_KEY: for tests against Azure Storage accounts
AZ_STORAGE_SAS: for tests against Azure Storage accounts
COSMOS_KEY: for tests against Azure CosmosDB
S3_ACCESS_KEY_ID: for tests involving an S3 Bucket
S3_SECRET_ACCESS_KEY: for tests involving an S3 Bucket

are added to the repository

[2021-11-04 14:37] #25 closed

[2021-11-04 14:41] paullatzelsperger commented on #54
Repo secrets are now in (#25), the integration test is also in, but we still need to fine-tune when they actually run:
- it **cannot** run in a fork, as the fork will likely not have the secrets
- it **cannot** run during PRs originating from a fork, because Github does not pass secrets to those PRs due to security concerns.

I think they should run before we actually merge a PR into `main`, and t

[2021-11-05 08:37] paullatzelsperger commented on #207
i think this has become obsolete since #199 is already merged.

[2021-11-05 09:31] denisneuling opened #216 "Connector to be able to expose data contract offers"
The connector needs to be capable of providing IDS contract offers via its multipart API.

<sub> Denis Neuling <denis.neuling@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md)

[2021-11-05 09:58] ndr-brt commented on #190
This will come back with more precise requirement in the next days.

[2021-11-05 09:58] #190 closed

[2021-11-05 10:07] mspiekermann commented on #54
so #215 and #216 failed again. can you check what might be the difference @ndr-brt?

[2021-11-05 10:07] DominikPinsel commented on #178
I created a draft pull request
https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/pull/218

[2021-11-05 10:23] ndr-brt commented on #54
Looking at the history:
https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/actions/workflows/integrationtests.yaml

Seems like they fails for reasons that don't depend from the code modification itself, a better analysis should be done

[2021-11-05 19:52] #207 closed

[2021-11-05 19:53] #193 closed

[2021-11-05 19:54] #145 closed

[2021-11-08 11:09] #183 closed

[2021-11-08 13:58] ndr-brt opened #220 "Mocking framework choice"
This is more like a question. There are valid reasons why we are using EasyMock as mocking framework?
I think it should be replaced for those reasons:
* every mock needs the call of the `replay` method
* `void` methods require that `expectLastCall()` that's not that easy to read at first (it tooks me some time to get it)
* the behaviour setting and the behavior verification are made in the same pl

[2021-11-08 14:04] DominikPinsel commented on #220
+1

[2021-11-08 14:20] jimmarino commented on #220
The reason we use EasyMock is that it is a popular framework that gets the job done. Mockito is another good framework, but given all of the other work on our plate and the issues you outline are stylistic preferences, I don't see a need to burn cycles on this.

[2021-11-08 14:35] ndr-brt commented on #220
Seems like other committers agree with my point of view, this substitution could happen step by step with small PRs, one for every extension, that can be implemented when we have some half hours waiting for code reviews, I would not spare on simple refactorings that help the team to working better, actually I think that a better mocking framework could motivate developers to write more (and better

[2021-11-08 15:57] ticapix commented on #125
Hello,

Is there a plan to provide Gaia-X conformant EDC Self-Descriptions ? (ie, be able to validate Self-Description against Gaia-X schema with SHACL)

Thank you,
Pierre

[2021-11-08 15:59] ticapix commented on #50
Hello,

Is the use of the data exchange endpoint Gaia-X conformant self-description part of the planned negotiation happening between EDC ?

thank you,
Pierre

[2021-11-09 07:34] bmaier commented on #125
... consider GAIA-X Self-Description (SD) follows the [W3C VC Spec](https://www.w3.org/TR/vc-data-model/) specifications and Json-LD schema definitions.
Therefore an asset Self-Description can be viewed as a composition of many independent VerifiableCredential and presented as VerifiablePresentation - it not one big file.

[2021-11-09 07:43] bmaier commented on #50
... like GAIA-X, is the plan to produce a signed document that follows https://www.w3.org/TR/vc-data-model/ spec as the result of the negotiation?

[2021-11-09 10:27] DominikPinsel opened #221 "Fix flaky integration tests"
Hello everyone,

the integration tests are failing fairly often during the PullRequests builds. It would be nice of someone could have a look at them.

<sub>Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md) </sub>

[2021-11-09 10:29] #146 closed

[2021-11-09 10:30] DominikPinsel commented on #221
Related to #54

[2021-11-09 14:56] #144 closed

[2021-11-10 17:27] #216 closed

[2021-11-11 07:12] jimmarino commented on #220
I don't have a preference for which mock framework to use. My concern is a practical one: switching mocking frameworks will require a significant change to many areas of the codebase and it will require the people who are familiar with the tests to review and verify all of those changes. Having a piece-by-piece solution will likely lead to the changeover never being completed, resulting in multipl

[2021-11-11 07:16] #152 closed

[2021-11-11 09:24] paullatzelsperger opened #225 "Fix broken `launchers/basic`"

[2021-11-11 09:50] jimmarino opened #227 "ContractService and Policy Integration"
# Overview

We need to support policy-based data contracts in the runtime. This issue will outline the work required to achieve this functionality in the EDC.

Policies are used for two purposes:

1. To define access rights for 1..N `Assets`
2. To define usage requirements for 1..N `Assets`

For example, to restrict an asset to "gold partners" and require users to store the asset data in a geograp

[2021-11-11 10:02] DominikPinsel opened #228 "Replace `VerificationResult` with `Principle` to evaluate claims"
Hello everyone,

currently the `VerificationResult` is passed after creation to other classes, so that these classes may evaluate the containing claims. It would be better if the passed data only contains the claims, as the `VerificationResult` contains more information.
Therefore this issue includes the creation of a `Principal` class, that contains the claims, and replace the `VerificationResult

[2021-11-11 10:30] DominikPinsel opened #229 "Create EDC `Contract` domain object"
Hello everyone,

we are currently missing a `Contract` domain object. This object should represent a `ContractOffer` two parties have agreed upon.

I'd like to use this issue to discuss how an initial implementation could look like and then create the corresponding PR for it.

What do you think about this?

[code]

The `Policy` represents contract details in ODRL, whereas the `ContractDocument` ma

[2021-11-11 10:34] DominikPinsel opened #230 "Create `InMemoryContractStoreExtension`"
Hello everyone,

for future development we need an implementation of the `InMemoryContractStore`. To be precise, I think this extension should implement one contract store for `ContractOffer` items and one contract store for `Contract` items.

Both stores must be thread safe and support simple CRUD operations.

This issue includes
- extending the `SPI` with both kinds of stores
- creating a new in

[2021-11-11 10:55] #225 closed

[2021-11-11 11:08] DominikPinsel opened #231 "Create `ArtifactRequestHandler` for IDS Multipart"
Hello everyone,

for this issue an `ArtifactRequestHandler` should be added to the IDS Multipart Extension.

- the new `ArtifactRequestHandler` must be able to handle an IDS `ArtifactRequestMessage` ([link](https://github.com/International-Data-Spaces-Association/Java-Representation-of-IDS-Information-Model/blob/main/de/fraunhofer/iais/eis/ArtifactRequestMessage.java))
- before the asset is transf

[2021-11-11 11:37] DominikPinsel opened #232 "`ClientControlAPI`: Initiate Data Transfer"
Hello everyone,

this issue is about creating a `ClientControlAPI` extension (if it isn't already created) and adding a new REST Endpoint to initiate a data transfer. This API is just an initial draft of an API, so that a user can try out the EDC. It doesn't has to be perfect.

- (optional) create a new `ClientControlAPI`extension
- (optional) create a simple `ClientController` to the extension
-

[2021-11-11 13:07] denisneuling opened #233 "RemoteMessageDispatcher and MessageSender for retrieving IDS descriptions"
For the purpose of enabling communication of one connector to another using the IDS multipart protocol another [RemoteMessageDispatcher](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/spi/src/main/java/org/eclipse/dataspaceconnector/spi/message/RemoteMessageDispatcher.java) implementation is needed. Furthermore this component needs to be enabled to issue IDS [Descriptio

[2021-11-11 13:22] jimmarino commented on #229
Can we use UTC epoch long for dates? I think that is fairly common practice for APIs and it will make things easier for serialization since we won't have to concern ourselves with making sure we enforce ISO formatting for that.

[2021-11-11 13:24] jimmarino commented on #228
FYI, I will handle this in #227 with ParticipantAgent except for the IDS Handler. What does the IDS Handler require?

[2021-11-11 13:25] jimmarino commented on #229
One other question: what is a ContractDocument?

[2021-11-11 13:26] jimmarino commented on #229
Sorry, one final comment, why is this an interface, I think it should be a class?

[2021-11-11 13:34] denisneuling opened #234 "Extend IDS-EDC Domain Object Transformation infrastructure"
At the time of writing there is just one way covered for mapping data from the EDC domain model to IDS objects using our  [object transformation infrastructure](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/tree/main/data-protocols/ids/ids-transform-v1).

For the purpose of enabling communication of one connector to another using the IDS multipart protocol the [set of transforme

[2021-11-11 13:37] jimmarino commented on #234
@denisneuling Can we skip the RdfResource one? Does anyone have an idea of what that is?

[2021-11-11 13:37] DominikPinsel commented on #227
Good ideas 👍

I probably haven't understand everything yet. Maybe it's the best idea if a create a separate comment for each assumption/question.

You wrote that we need to manage to kinds of identities. The `ParticipantAgent` and the `Participant`. Is it correct to assume that these two things are created by some parent component (e.g. an IDS controller) and den passed down using the `ContractOff

[2021-11-11 13:39] denisneuling commented on #234
@jimmarino Sure, IMO for a first version we can skip this until we know how whether it is really used and how to express this. Will cross it out.

[2021-11-11 13:39] jimmarino commented on #231
A small note, as part of this PR it would also be good to delete the `ArtifactRequestController` and any of the other related classes that are no longer used.

[2021-11-11 13:47] DominikPinsel commented on #227
I assume the `ContractOfferService` would send all queries directly through to the `ParticipantAgentService`, without adding any value. Maybe we can move the functionality of the described `ParticipantAgentService` up to the `ContractOfferService`?

[2021-11-11 14:05] DominikPinsel commented on #233
@ronjaquensel Are you interested in working on that?

[2021-11-11 14:12] DominikPinsel commented on #227
Is it correct to assume the `ParticipantAgent` and `Participant` are classes, that inherit from `Principal`?

[2021-11-11 14:13] ronjaquensel commented on #233
Hi @DominikPinsel, sure, I've already started looking at this topic. Will just self-assign the issue.

[2021-11-11 14:24] DominikPinsel commented on #234
I assume we need the `RdfResource` to create a contract, that limits the usage of the data to a specific purpose. Without `RdfResource` we won't be able to create a `Constraint`.
This would make the following transformer unnecessary, too
- Constraint
- LeftOperand
- BinaryOperator

[2021-11-11 14:37] DominikPinsel commented on #227
@jimmarino Would it be fine if I start with the refactoring of the `ContractOfferFramework`? I would include
- `ContractOfferFramework` interface updates
- `ContractDefinition` creation
- `ContractDescriptors` creation
- `SampleContractOffer` extension update

[2021-11-11 14:42] DominikPinsel commented on #228
It just needs the claims from the request, to pass them through to classes like the `ContractOfferFramework`.

[2021-11-11 14:49] DominikPinsel commented on #229
Thanks for your feedback.

- the ContractDocument would contain the plain text of a real world contract. Just in case someone doesn't want to use ODRL
- changed the interface to class

I'm not sure about the dates as long. Serializing a date object for a domain object seems fine for me.

[2021-11-11 18:01] jimmarino commented on #227
Thanks for the good feedback @DominikPinsel. Here are some comments...

Not quite an IDS component. There would be an EDC core concept of a ParticipantAgent and a ParticipantAgenService so it is a separate component, just not at the IDS level.

Participant will have no materialization in the runtime, it's just a concept in the model (a Connector never interacts with a Participant directly, it inte

[2021-11-11 18:10] jimmarino commented on #229
Can we keep this out for now? I think we should discuss whether this is really required and what such a ContractDocument would contain. As a start, does IDS support this?

Let's discuss this. It's standard practice to use longs and it makes things a lot easier.

[2021-11-11 18:14] jimmarino commented on #228
OK, let's discuss in the context of #227. The ClaimsToken can be passed to ContractOfferService, which in turn will delegate to create a ParticipantAgent.

[2021-11-11 18:23] jimmarino commented on #234
@DominikPinsel I'm not sure I follow. Why can't a transformer just support TypedLiteral with an XML Schema string to set the right operand of a Constraint?

This is probably another thing IDS needs to fix/specify if they want interoperability.

[2021-11-11 20:21] paullatzelsperger commented on #221
I have a sneaking suspicion that many of them either:
- do not use randomized strings (f. buckets, containers, etc.)
- employ sufficiently defensive measures (timeouts, etc.)

I can take this issue since I wrote most of the I-tests.

[2021-11-12 07:03] DominikPinsel commented on #229
IDS supports it, but I'm not sure whether anyone uses it. I removed it for now.

I've got the feeling, that writing a string as date is how everyone does it. I wasn't able find a long vs string discussion in the internet, to find some pro and con arguments. The only thing could I find is this StackOverflow comment https://stackoverflow.com/a/47037409

[2021-11-12 07:10] DominikPinsel commented on #227
It's also fine if you do it. I removed the comment already, because when I wrote it I wasn't aware that you intent to contribute all the code. Therefore I thought it might be a good idea to contribute the part,  some issues I created yesterday build upon. But it's also perfectly fine for me if you do it 👍

[2021-11-12 07:13] DominikPinsel commented on #227
Sounds interesting :) I think I haven't understand it yet. But maybe I will just wait for the first code then.

[2021-11-12 07:18] DominikPinsel commented on #227
Ah ok. This sounds a lot more logical. This is what I sketched yesterday when I read the text the first time. Looks like I need to update it once more 😄

<img width="1155" alt="image" src="https://user-images.githubusercontent.com/20866918/141426030-3b0dbc14-5e89-4c97-91ea-10a53abf5dda.png">

[2021-11-12 07:23] DominikPinsel commented on #234
@jimmarino Yea, the problem here is that in IDS the right operand is always an `RdfResource`. It looks like this

[code]

[2021-11-12 07:39] jimmarino commented on #227
@DominikPinsel actually, I'd prefer we worked on this together. Is there a way for you to be able to commit directly to a repo I create? If not, let's think of another way to do it.

[2021-11-12 07:47] jimmarino commented on #227
I like the picture. One thing is the PAS does not have lines with the COF or the AssetIndex; only the ContractOfferService has dependencies on the PAS and COF.

The PAS should be a really simply service. It takes a ClaimToken and outputs a ParticipantAgent. Extensions can register ParticipantAgentServiceExtensions that take a ClaimToken and return a Map of attributes that are added to the Particip

[2021-11-12 08:28] denisneuling commented on #234
If we really need it, I think it is sufficient to assume a `RdfResource` is directly representable as a [`LiteralExpression`](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/core/policy/policy-model/src/main/java/org/eclipse/dataspaceconnector/policy/model/LiteralExpression.java) for now. All other more complex cases should yield some error messages to the `TransformerCo

[2021-11-12 14:11] stefan-ettl commented on #50
@ticapix: We're planning to implement a negotiation also taking the Self-Description into account. Starting from attributes that are used e.g. in the IDS, we are planning to extend these based on the requirements of Gaia-X and use cases that use its compliant self-descriptions.

[2021-11-12 14:11] stefan-ettl commented on #125
@ticapix: Yes we're planning to implement a Self-Description that will be GAIA-X compliant in the outlook.

[2021-11-12 15:37] ronjaquensel opened #236 "Use Serializer instead of ObjectMapper for Infomodel objects"
In the IDS modules the class `de.fraunhofer.iais.eis.ids.jsonld.Serializer` should be used to map Infomodel objects to and from JSON. Currently, an ObjectMapper is used to perform these operations. Thus, the required context information is missing in the JSON and it cannot be deserialized by an Infomodel serializer.

Also, the MultipartController takes a RequestMessage as parameter, so that the he

[2021-11-13 00:13] jimmarino commented on #236
A couple of questions:

1. Is that class part of a library on Maven central and do you know its license?

2. For my own knowledge, which context info do we need from the endpoints that the ObjectMapper will not provide? It looks as if the Serializer uses an ObjectMapper internally

Thx.

[2021-11-13 00:18] jimmarino commented on #234
+1. I think we can check for the subtype TypedLiteral and support that since it is declared as an XML Schema string type, which would be valid to do. Otherwise, an error sounds good.

[2021-11-13 00:19] #228 closed

[2021-11-13 00:34] jimmarino commented on #229
We need to standardize dates on UTC and not leave it open. Using epoch-based timestamps is very common, for example, see the description of the NumericDate type in the JWT specification (it uses epoch seconds instead of millis, but the concept is the same):

https://datatracker.ietf.org/doc/html/rfc7519

This will make dealing with dates and timestamps throughout the codebase much easier and less

[2021-11-14 09:00] ticapix commented on #51
Hello,

If I understood correctly, EDC is set to enforce data usage policies when exchanging data.
To do that, 2 EDC instances will verify and negotiate permissions and usage rights.

From this diagram https://raw.githubusercontent.com/eclipse-dataspaceconnector/DataSpaceConnector/main/docs/diagrams/mvp.png, is it correct that the data transfer is going through the EDCs instance and not directly d

[2021-11-14 09:46] jimmarino commented on #234
@denisneuling also looping in @ronjaquensel and @juliapampus  on this...

When deserializing policy expressions, we need to also account for complex types in the right operands of atomic constraint expressions.

For example:

`"ids:constraint": [{
	"@type":"ids:Constraint",
	"ids:leftOperand": { "@id": "idsc:CONNECTOR"},
	"ids:operator": { "@id": "idsc:IN"},
	"ids:rightOperand": [{
		"@value": "?c

[2021-11-14 16:19] mspiekermann commented on #51
Hi @ticapix,

the MVP scenario you just linked follows requirements of initaitves that currently use the EDC to support messages by the International Data Space, which currently follow the approach of a data transfer through the Connector component.

The important aspect here: while **this is possible** with the EDC and used for the MVP along the user's requirements, it **is not the intended way**

[2021-11-14 17:05] ticapix commented on #51
Hi @mspiekermann ,

Thank you.

The out-of-band communication scenario is ensured with a sidecar (envoy) that is deployed by the data storage provider[1] with administrative rights[2] on the storage controllers[3] ?

Pierre

[1]: Data storage provider is the organisation managing the storage. Could be the same organisation than the data owner if this is a self-managed tenant or a CSP if this is an

[2021-11-14 19:55] mspiekermann commented on #51
There is not only that one possibility i would say, how this could be enabled. Adding control and observability with the sidecar pattern is something that defenitly should be considered. Envoy would just be one example for a proxy capability, that is often used with the sidecar pattern to add control to micorservices, so no direct link here.
I will have a try to visualize how this can look like wi

[2021-11-14 22:11] jimmarino opened #238 "Extensible Data Loader"
# Overview

There are requirements to load different data types in the runtime. This list is likely to expand in the near future:

1. `Asset` types to the `AssetIndexLoader`
2. `ContractDescriptor` types to the `DemoContractOfferFrameworkExtension`

Users may want to load data from a file, using a REST API or via an external system such as a messaging sink. This landscape is made more complex by t

[2021-11-15 07:11] jimmarino commented on #234
I should have added that the use of JSON-LD partly explains why right operands can be RdfResource. However, JSON-LD extends RDF and the RdfResource InfoModel type looks like it may be incorrectly implemented since property values can only be Strings and JSON-LD allows for native JSON types and tagged strings.

As I mentioned, I think these structures should be unwrapped and the corresponding Java

[2021-11-15 07:26] jimmarino commented on #51
Hi @ticapix,

As @mspiekermann mentioned, sidecars are one deployment scenario if someone is using K8S or similar infrastructure. However, this could also be generalized. For example, the data transfer plane could be a separate set of services operated by one of the parties to the transfer or a third-party. Access to the data plane could via an API that each connector uses. This would also enable

[2021-11-15 08:56] ticapix commented on #51
Hi @jimmarino

Not really. I understand the data/control plane arch. However it requires the control plane to have control over the data plane, which I don't see yet for EDC. The exemple of K8s was given, but K8s is a container orchestrator not a data storage. Unless EDC plans to deploy at runtime storage services (mongodb, kafka, HDFS, S3/SWIFT, ...) *inside* a K8s cluster ?

We described 4 scena

[2021-11-15 09:57] denisneuling commented on #236
@jimmarino, The artifact is served by [Fraunhofer IAIS maven repo](https://maven.iais.fraunhofer.de/ui/native/eis-ids-public/de/fraunhofer/iais/eis/ids/infomodel-serializer/). Although the [sources](https://maven.iais.fraunhofer.de/ui/native/eis-ids-public/de/fraunhofer/iais/eis/ids/infomodel-serializer/4.0.0/infomodel-serializer-4.0.0-sources.jar) are publicly available the artifact does not cont

[2021-11-15 10:01] jimmarino commented on #236
Makes sense to me. If there is no license, we can't use it anyway.

[2021-11-15 11:52] juliapampus opened #239 "Policy negotiation flow"
As discussed last week, @ronjaquensel and I want to share our thoughts about a possible contract negotiation flow containing states - similar to our current transfer process.

`.puml` files: [edc-negotiation.zip](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/files/7538410/edc-negotiation.zip)

We tried to keep the number of states as small as possible. States on both sides expre

[2021-11-15 12:20] DominikPinsel commented on #227
Sure 👍 I will try to sketch something we can use as starting point for a discussion

[2021-11-15 13:31] marcgs opened #240 "Documentation and examples for TransferProcessListener"
Extensions can implement [TransferProcessListener](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/spi/src/main/java/org/eclipse/dataspaceconnector/spi/transfer/TransferProcessListener.java) and register as observers of [TransferProcessObservable](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/spi/src/main/java/org/eclipse/dataspaceconnector/s

[2021-11-15 14:55] DominikPinsel commented on #229
Then let's use long 👍

[2021-11-15 16:43] MoritzKeppler commented on #227
my question goes into the same direction: A `ContractDefinition` results in one corresponding `ContractOffer` - just containing a fixed list of Assets instead of an AssetSelector. In parallel each `Policy` contains a target that must be filled with a reference to an Asset (and later in the IDS layer with a reference to an artifact, representation, resource etc.).
Right now the target does not get

[2021-11-16 07:40] denisneuling commented on #236
Seems it's not done by just adding the `@context`. All properties in the payload have to be exploded and denoted by it's JSON-LD `@type`.

Instead of - as its currently implemented - producing this exemplary payload:
[code]

this one is rather expected:
[code]

Unfortunately this will take me some time to implement the proper serialialization/deserialization strategy since the issue became a littl

[2021-11-16 07:42] DominikPinsel commented on #229
Created PR #241

[2021-11-16 08:47] DominikPinsel opened #242 "InMemoryCacheQueryAdapterRegistry and fcc-query-adapter-registry-memory are misleadingly named"
Hello everyone,

I found something strange in the fcc memory store extensions and I assume it hints to some kind of implementation error.
The two extensions in question are
- fcc-store-memory
- fcc-query-adapter-registry-memory

The **fcc-store-memory** extension has a storage class that implements the `FederatedCacheStore` interface. It looks like this:
[code]

The **fcc-query-adapter-registry-me

[2021-11-16 09:45] DominikPinsel commented on #230
FYI: I will start implementing the in-memory contract store

[2021-11-16 11:09] DominikPinsel commented on #234
FYI: I will start working on this issue

[2021-11-16 11:54] MoritzKeppler opened #245 "Update asset and contract docs"
[Diagrams ](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/tree/main/docs/diagrams) and [terminologoy ](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/docs/Terminology.md) need to get aligned with the changes described in #227
Would be great to have the javadocs in the header of the corresponding classes as source of truth for the definitions.
Maybe we

[2021-11-16 13:24] paullatzelsperger commented on #242
Are you suggesting eliminating the `FederatedCacheStore`?

[2021-11-16 14:03] DominikPinsel commented on #242
I'm not sure as I don't know the implementation that well and haven't looked at the whole fcc code. But in case we don't need this extra store, because the `FederatedCachedStore` is already persisted by the stored `CacheQueryAdapter` I'd say we can delete it.
But again, I don't know the code and cannot say whether this is a solution. I just saw that one object is stored twice, what hints that  som

[2021-11-16 14:52] juliapampus opened #247 "Update IDS Infomodel dependency"
The edc currently uses the Infomodel library v4.0.0. The latest release is v4.2.7 (see [here](https://maven.iais.fraunhofer.de/ui/native/eis-ids-public/de/fraunhofer/iais/eis/ids/infomodel/java/)). As this not only coveres some ontology extensions but especially technical/implementation changes and improvements, we should update the dependency. Maybe this will also fix some issues when using build

[2021-11-17 08:31] DominikPinsel commented on #231
FYI: I will start working on this story

[2021-11-17 08:53] denisneuling commented on #247
Thx @juliapampus for reporting this. Will update the dependency's version and fix incompatibilities with its integration.

[2021-11-17 09:33] DominikPinsel opened #250 "Invalid Property Keys in the Asset"
Hello everyone,

the property keys in the `Asset` were renamed without updating the corresponding parts in IDS. Therefore at the moment no properties are correctly mapped to IDS.

[code]

<sub>Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md) </sub>

[2021-11-17 09:38] DominikPinsel opened #251 "Remove PolicyId from Asset"
Hello everyone,

the `Asset` currently has a `PolicyId` property. As far as I understand the policies of an `Asset` are described in the corresponding `Contract` or `ContractOffer` class. Therefore I'd remove the `PolicyId` from the `Asset` again.

<sub>Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IM

[2021-11-17 10:17] DominikPinsel commented on #251
Also there is an `Asset` in the `DataRequest`. I assume this was added there to get the corresponding `Policy` from the request, what doesn't work. Maybe this can be removed, too.

<sub>Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md) </sub>

[2021-11-17 12:18] DominikPinsel commented on #250
Too early in the morning for me, the IDS properties are still working. I will close this issue.

[2021-11-17 12:18] #250 closed

[2021-11-17 13:33] #247 closed

[2021-11-17 21:45] jimmarino opened #253 "rename module policy-model to policy-evaluator"

[2021-11-17 21:46] jimmarino opened #254 "Rename usagePolicy to contractPolicy on ContractDescriptor"

[2021-11-17 22:09] jimmarino commented on #239
Hi @juliapampus @ronjaquensel

Really thorough! I need to digest this a bit but should there also be an error state from contract negotiation?

[2021-11-18 06:19] paullatzelsperger commented on #242
Maybe I don't understand the problem... This is how it was intended:

The `FederatedCacheStore` is the object that actually holds cached assets (i.e. a snapshot of the catalog) whereas the `CacheQueryAdapter` is a responsible for querying the store, it does not persist anything. Also, the `CacheQueryAdapter` itself is not stored (except in the `CacheQueryAdapterRegistry`).

Cached assets are persi

[2021-11-18 08:00] jimmarino opened #255 "Rename ContractOfferFramework ContractDefinitionService"

[2021-11-18 08:26] denisneuling opened #256 "Eliminate request to external DAPS from within integration test"
The [DapsIntegrationTest](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/extensions/iam/daps/src/test/java/org/eclipse/dataspaceconnector/iam/daps/DapsIntegrationTest.java#L67) issues real requests to the external DAPS instance hosted by Fraunhofer AISEC.
Although it's working, IMO it's bad practice and also obliges external conditions we cannot influence.

There is a p

[2021-11-18 09:48] sebbader commented on #236
Hello everyone, we are providing the JSON-LD Serializer for the IDS projects.
"If there is no license, we can't use it anyway."
This shouldn't be a show stopper. Which licenses would be feasible for you to continue here?

[2021-11-18 11:26] jimmarino commented on #239
@juliapampus @ronjaquensel

Although we will not implement this in the first go, have you thought about states for counter-offers? Should those be modelled as specific states? I think there could be two possibilities

1. They are not modelled separate from validating - My initial thought is this would not be good
2. The are are modelled as two distinct states: COUNTER_OFFER_CLIENT, COUNTER_OFFER_P

[2021-11-18 11:27] jimmarino commented on #239
@juliapampus @ronjaquensel

Separate issue, should we also think about the security implications of how comparison is done? For now, the provider always throws away the contract offer sent by the client and generates a new copy? This would avoid an "injection" attack.

[2021-11-18 11:28] jimmarino commented on #239
@juliapampus @ronjaquensel

Another comment: if the contract is malformed, I would tend to model that as an error state as opposed to declined. What do you think?

[2021-11-18 12:53] denisneuling commented on #236
Hello @sebbader, many thanks for reaching out.
Glad to hear you are considering changing the license of the JSON-LD serializer to let us make use of it.
It would be awesome if you could serve it under the [Apache-2.0](http://www.apache.org/licenses/LICENSE-2.0) license.

[2021-11-18 14:37] DominikPinsel opened #258 "Asset.Builder overwrites properties"
The `properties` method of the `Asset.Builder` overwrites all previous set properties.

For example this asset is created without an id
[code]

<sub>Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md) </sub>

[2021-11-18 20:03] jimmarino commented on #236
@sebbader Thanks for getting in touch. It looks like the Serializer (3.1.1) brings in the following dependencies

1. javax.validation
2. SLF4J
3. org.eclipse.rdf4j.json-ld
4.  rdf4j-rio-turtle
5. rdf4j-rio-rdfxml

Based on this, I have a few questions:

1. Are those needed, particularly 1,2, 4, and 5?
2. If so, can they be removed or made optional?
3. What IDS infomodel does this library work with

[2021-11-19 06:20] paullatzelsperger commented on #258
that's expected behaviour. if you set all the properties, they get overwritten.

[2021-11-19 06:41] #258 closed

[2021-11-19 06:42] jimmarino commented on #256
Is this something @ndr-brt you could look at?

[2021-11-19 06:44] #172 closed

[2021-11-19 06:47] jimmarino commented on #242
I don't see any problem with this code. I'm going to close this issue out.

[2021-11-19 06:56] jimmarino commented on #239
@juliapampus @ronjaquensel

Can we also start to create a state diagram that maps out all the legal state transitions? For example, is it possible to transition from DECLINED back to VALIDATING? One use case I am thinking about is a negotiation where two parties go back-and-forth for a number of iterations. There may need to be a REJECTED state where either party can end the back-and-forth and per

[2021-11-19 07:26] jimmarino commented on #236
@denisneuling To simplify things for the December milestone, can we leave out the JSON-LD metadata from the serialized forms? For our purposes, we don't need it. In the meantime, we can continue the discussions on licensing, dependencies, etc.

[2021-11-19 07:46] ndr-brt commented on #258
I agree that the api of this builder can bring to unexpected results.
Should the `properties` method just add all the properties instead of overwrite the whole map?

[2021-11-19 07:52] sebbader commented on #236
@jimmarino "can we leave out the JSON-LD metadata from the serialized forms?" --> As a Linked Data believer, that really hurts! :-)

[2021-11-19 07:53] DominikPinsel commented on #239
@jimmarino @juliapampus @ronjaquensel
I'm also not sure whether a state model is the best solution in case. I think for audibility it might be interesting to have all these state changes in the contract. So maybe we should collect these events somewhere in the contract.
The state would would be read from the contract
- if endDate > now -> `expired`
- if revokedEvent -> `revoked`
- if confirmedEven

[2021-11-19 07:57] sebbader commented on #236
Regarding the points you have raised:

I need to check with my team before I can answer.

Always the latest. Meaning, every major or minor release is one-to-one represented (IM version 4.2.0 is reflected by serializer/java model versions 4.2.x and so on). We provide continuous builds for all features of the IM and work very closely with the SWG Information Model. Actually, those two libs are the r

[2021-11-19 13:16] denisneuling opened #261 "Make IDS MultipartController ObjectMapper configurable"
The [IDS MultipartController](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/data-protocols/ids/ids-api-multipart-endpoint-v1/src/main/java/org/eclipse/dataspaceconnector/ids/api/multipart/controller/MultipartController.java) uses the ObjectMapper via JAX-RS' [TypeManagerContextResolver](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/core/pro

[2021-11-19 19:48] jimmarino commented on #239
# Contract Negotiation

This document outlines an implementation for the contract negotiation process based on the specification created by @juliapampus @ronjaquensel.

# Architectural Considerations

The contract negotiation subsystem will be modelled as a state machine, which aligns with the existing design of the transfer process subsystem. This state-machine design is necessary to support the

[2021-11-19 20:17] #261 closed

[2021-11-19 20:23] DominikPinsel commented on #242
Ok, maybe I need to explain myself better/shorter.

1. We have a registry/store for `CacheQueryAdapter` interface.
2. The default implementation of this adapter holds another store in it's properties, like the `AssetIndex`. But in this case, it's called `FederatedCacheStore`.

As I would try to avoid storing the `AssetIndex` in some kind of other store, I assume this is also true for the `Federate

[2021-11-19 20:31] DominikPinsel commented on #258
Yea. I would assume that when I set the id in the builder, that the id in the builder is set. The only thing in a builder that should be overwrite this would be setting the id another time.

[2021-11-19 20:52] DominikPinsel commented on #255
PR #264

[2021-11-19 21:47] paullatzelsperger commented on #242
The assetindex is fundamentally different from the federated cache store.

[2021-11-19 22:03] jimmarino commented on #242
I don't understand what the issue is. By definition, the CacheQueryAdapter adds a custom query language over the backing store. AssetIndex is not a query adaptor, it is an index of assets.

This approach makes sense to me.

[2021-11-19 22:06] #255 closed

[2021-11-19 22:18] DominikPinsel commented on #242
@paullatzelsperger

That's true. I just thought the `AsserIndex` might be a good example, as it's well known and both classes may store a large amount of `Asset`.

@jimmarino

That's true, but I think it's still missing my point.

Maybe another approach:
The default implementation of the `CacheQueryAdapter` contains the `FederatedCacheStore` as property. Every time one `CacheQueryAdapter` gets sto

[2021-11-19 22:29] DominikPinsel commented on #242
The `FederatedCacheStore` is stored by the `CacheQueryAdapterRegistry`. This is possible, because the default implementation if the `FederatedCacheStore` (`DefaultCacheQueryAdapter`) has the `FederatedCacheStore` as field.

[2021-11-19 22:50] jimmarino commented on #242
I still don't follow. My understanding is the `CacheQueryAdapterRegistry` registers and dispatches to  `CacheQueryAdapter`s. It's not intended (at least as far as I can tell) to serialize or persist anything. It is just a query facade for a backing store.

@paullatzelsperger is that accurate?

[2021-11-19 22:57] DominikPinsel commented on #242
@jimmarino Maybe then the 'in-memory' extension thing is confusing me. So there is no need to create an extra in-memory extension for this, as there is just no other way than to store it than in memory?
For me the extension, as it only has a `ServiceExtension` and `AdapterRegistry` class, looked like an extension point for the future.

[2021-11-20 14:17] jimmarino commented on #242
The name could be confusing @paullatzelsperger should it be just an Impl?

[2021-11-20 14:20] jimmarino commented on #187
@paullatzelsperger has this been resolved?

[2021-11-20 14:21] jimmarino commented on #127
@bscholtes1A @paullatzelsperger Has this issue been handled?

[2021-11-20 14:22] paullatzelsperger commented on #242
Yes, seems plausible.

[2021-11-20 14:22] paullatzelsperger commented on #187
Yup I think so.

[2021-11-20 14:23] jimmarino commented on #123
We resolved this by using POJOs for configuration. This also allows configuration errors to be trapped early, which a separate service object does not do.

[2021-11-20 14:23] #123 closed

[2021-11-20 14:26] jimmarino commented on #50
I'm going to close this out as the work is being done in #239

[2021-11-20 14:26] #50 closed

[2021-11-20 14:35] jimmarino commented on #56
Closing as this work has been integrated.

[2021-11-20 14:35] #56 closed

[2021-11-20 14:36] jimmarino commented on #48
Closing as this initial work has been completed.

[2021-11-20 14:36] #48 closed

[2021-11-20 23:13] jimmarino commented on #242
@paullatzelsperger I changed the name of the issue to reflect what this issue is highlighting. Can you think of a better name, maybe something with a simple "impl"?

[2021-11-21 07:16] paullatzelsperger commented on #242
If we do this, we do this properly and also move/rename the `InMemoryCatalogQueryAdapterRegistry`

[2021-11-21 13:05] DominikPinsel commented on #242
Thanks, I think I now understand the code a little better. Thank you two for explaining it to me :) even when it took a while!

[2021-11-21 14:29] bscholtes1A commented on #127
Hi Jim,
Yeap acquiring the DAPS token is now handled through the Oauth2 extension + the DAPS extension which is a very small wrapper around the Oauth2 extension. So this one can be closed.

[2021-11-21 14:30] bscholtes1A commented on #187
Yeap and an integration test has shown it was working fine.

Thus is can be closed.

[2021-11-22 13:25] #238 closed

[2021-11-22 13:33] algattik opened #268 "Missing synchronisation in FsVault"
`deleteSecret` method is missing synchronisation. (How about backing the class with a `ConcurrentHashMap`?)

https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/84bb9597b4ed18ad177fe82e475661a53000d762/extensions/filesystem/vault-fs/src/main/java/org/eclipse/dataspaceconnector/security/fs/FsVault.java#L80

[2021-11-22 14:05] jimmarino commented on #268
Thanks for reporting the issue! It looks like the method is missing the synchronized keyword, since there is also a file write operation that needs to be taken care of. Are you interested in creating a PR?

[2021-11-22 14:07] jimmarino commented on #229
Closing as this was merged.

[2021-11-22 14:07] #229 closed

[2021-11-22 14:08] #187 closed

[2021-11-22 14:34] ndr-brt commented on #268
Could we use a lock instead? Otherwise we should document the cases where `synchronized` would be preferred.

[2021-11-22 21:23] jimmarino commented on #268
I think the answer is whatever is easier for the given situation. In this case, we don't need r/w locks (the FS Vault is not intended to be performant or used in production).

[2021-11-23 06:57] #234 closed

[2021-11-23 07:31] jimmarino commented on #254
Assigning this to myself as I have another related PR I'm working on and will roll this one into that.

[2021-11-23 21:28] jimmarino commented on #51
@ticapix sorry for the delay, we were tied up with the EDC Hackathon last week.

I suspect we may be talking about different things. With the EDC, data transfer generally happens out-of-band, that is, the flow of bits is carried out by other infrastructure. This could be a Kafka cluster, cloud events, blob storage transfer, etc. Two EDC participants will coordinate with this infrastructure on thei

[2021-11-24 06:40] #254 closed

[2021-11-24 08:07] #161 closed

[2021-11-24 08:08] #170 closed

[2021-11-24 08:59] #233 closed

[2021-11-24 10:00] juliapampus opened #279 "Add missing multipart message sender"
`MultipartContractRejectionSender` for contract negotiation
`MultipartArtifactResponseSender` for ids transfer process

[2021-11-24 10:01] juliapampus opened #280 "Add missing multipart message handler"
For the contract negotiation over ids, we need handler for contract request, agreement, and rejection.

[2021-11-25 09:28] ndr-brt opened #288 "Integration tests are not executed after a merge"
I noticed that integration tests arent't running after a merge, so, currently, they are executed only on pull request push but against the main branch.
Is this the expected behaviour? I would make them running also after a PR merge.

[2021-11-25 09:39] paullatzelsperger commented on #288
we might want to run them on every push to `main`, that includes merge commits IMO. @ndr-brt can you look into this?

[2021-11-25 10:51] #53 closed

[2021-11-25 12:27] #288 closed

[2021-11-25 12:38] gbrost commented on #256
Cool to see you are on track here. If you need any support by us (AISEC, the DAPS guys), please let us know.

[2021-11-25 15:49] ticapix commented on #51
Hi @jimmarino

We're getting closer :)

+

That the coordinator mode as described above, provisioning managed services. Is that correct ?

[2021-11-26 13:03] DominikPinsel opened #295 "`ContractValidationService` Add functionality"
This issue is about adding the following functionality to the `ContractValidationService`:

- The contract validation service should be able to tell when a contract is expired
- The contract validation service should also check whether the corresponding asset is part of the contract
- The contract validation service should return a result object with found errors, so that the caller is able to log

[2021-11-26 13:46] DominikPinsel opened #296 "`Contract` and `ContractOffer` should reference exactly one `AssetId`"
Currently the `Contract` and `ContractOffer` objects contain multiple `Asset` references. At the time of writing they reference always one `Asset`, as the `ContractOfferService` maps the `ContractDefinition` like this.
Our domain models should reflect this fact, too, until there is a requirement to support multiple `Asset`.

-> `ContractOffer` should only reference one `AssetId`
-> `ContractAgreem

[2021-11-26 14:58] mohitsaxenaknoldus commented on #253
Can I raise a PR for this?

[2021-11-26 15:20] cpeeyush opened #297 "Adding a logger extension"
This issue is about adding a logger extension. Current default implementation of Monitor usage a ConsoleMonitor which prints logs on standard output without using a logger.

Using a logger will provide benefits:

- A logging configuration file can be used to add various log handlers e.g. FileHandler, logging level can be configured e.g. INFO, ERROR, DEBUG etc., also log statements formatting can b

[2021-11-26 15:43] Izzzu opened #299 "Need for extensible properties that can be forwarded from a consumer to a provider"
I our scenario the consumer connector passes query parameters to the provider which makes a call to a remote API.
Until now we were passing the query parameters in DataDestination field in DataRequest object. But when provisioning a blob container as managed resource (using Azure provisioning extension) the DataDestination properties get overwritten.

We’d need a way to pass the custom properties

[2021-11-26 16:18] jimmarino commented on #297
This can be handled by creating an extension and configuring it in the runtime. We don't want to dictate a particular logger implementation.

I personally don't find class level logging very informative, but this can also be handled by passing that via a json type or wrapping the Monitor object .

[2021-11-26 16:32] jimmarino commented on #295
I think only 1 of 1-3 should be done.

The contract validation service should only return a boolean to indicate its status. We don't want to give any reason to the client why the validation failed as that may result in a security leak. Instead, the validator can log more information if required and those logs can be correlated via the contract offer/agreement id by operations.

The contract id mus

[2021-11-26 16:52] jimmarino opened #301 "ArtifactRequestHandler should not access the TPS"
ArtifactRequestHandler should not call the TransferProcessStore to initiate a new transfer process. Instead, it should use the TransferProcessManager.

[2021-11-26 16:56] jimmarino opened #302 "Implement a security filter for the control API"
This can be simple and included directly in the control API module if there are time constraints.

[2021-11-26 16:57] jimmarino opened #303 "Implement a Control API endpoint for the contract offer flow"

[2021-11-26 16:58] jimmarino opened #304 "Implement a Control API endpoint for the contract negotiation flow"

[2021-11-26 17:00] jimmarino opened #305 "Artifact Release Pipeline"
The release pipeline should publish SNAPSHOTS on every successful merge into main. There should also be the ability to publish a stable release, starting at version 0.0.1.

[2021-11-26 17:06] jimmarino opened #306 "Verify contract offer request flow (message dispatchers and handlers)"
Depends on PR #285

[2021-11-26 17:06] jimmarino opened #307 "Verify that asset Index supports IN criterion"

[2021-11-26 17:07] jimmarino opened #308 "Verify Policy subsystem integration"

[2021-11-26 17:08] jimmarino opened #309 "Implement Cosmos ContractNegotiationStore"

[2021-11-26 17:09] jimmarino opened #310 "Milestone 1 Release Criteria"
@paullatzelsperger and I created this issue to compile the criteria for our Milestone 1 release, which we are doing in partnership with Catena-X.

We have broken down the deliverable into two top-level categories: EDC Functionality; and the Catena-X Milestone Deliverable. All items are currently set to __mandatory__.

# 1. EDC Functionality Deliverable

## Contract Offer
- [x]  IDS Multipart handl

[2021-11-29 06:32] paullatzelsperger commented on #307
This needs to be verified for _all_ current AssetIndex implementations, that is, the `in-memory` one and the one based on CosmosDB

[2021-11-29 06:50] DominikPinsel commented on #295
I'm sure what par of the system the contracting subsystem should represent. But wouldn't it work like this?

[code]

[2021-11-29 08:30] DominikPinsel commented on #231
Done in PR

[2021-11-29 10:26] MoritzKeppler commented on #306
@jimmarino can you please adde some more details what needs to be done - just to make sure we are on the same page. Thanks!

[2021-11-29 10:36] DominikPinsel commented on #303
@jimmarino Does this issue describe the same control endpoint as issue #285 ?

[2021-11-29 12:58] bscholtes1A commented on #309
Hi @jimmarino
what would contain this store? I see no ContractNegotiation object in the code.

Benjamin.

[2021-11-29 13:20] juliapampus commented on #309
https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/spi/src/main/java/org/eclipse/dataspaceconnector/spi/types/domain/contract/negotiation/ContractNegotiation.java

We will add negotiation logic with #284 @bscholtes1A

[2021-11-29 14:35] ronjaquensel opened #317 "Service for building ContractAgreement"
During the contract negotiation, either the provider or the consumer builds a ContractAgreement in order to accept a previously received offer. Currently, the `Provider-` and `ConsumerContractNegotiationManagerImpl` build the ContractAgreement when confirming an offer. This should be extracted to a designated service in the `core/contract` module. An open question is, whether any additional operat

[2021-11-29 16:34] #303 closed

[2021-11-29 17:47] #302 closed

[2021-11-29 18:03] #297 closed

[2021-11-29 18:18] #301 closed

[2021-11-29 20:55] #309 closed

[2021-11-29 21:32] jimmarino commented on #317
Hi @ronjaquensel in our model the provider always creates the ContractAgreement right? Also, the agreement is created from a valid ContractOffer that is always originated from the provider and previously validated. Given that do you think it is necessary to revalidate the ContractAgreement?

[2021-11-30 07:40] juliapampus commented on #317
I would not just agree to that. Currently yes, as the consumer starts the negotiation with a contract offer. It's always some kind of pull principle: the provider creates a contract offer, the consumer can view this and asks for a contract based on it. But maybe we could think of a scenario, where the provider initiates the contract negotiation. Maybe as a technical continuation of other transacti

[2021-11-30 07:43] jimmarino commented on #295
Please see my previous comment and the documentation in the code. The id must be an opaque string similar to a URN that only the contract subsystem knows how to dereference.

[2021-11-30 07:49] jimmarino commented on #317
The state machine disallows this. I would say in this situation, the provider and consumer roles would be swapped and the provider then becomes the consumer requesting a contract.

In the state machine, only the provider can create an agreement. In the EDC implementation, the contract offer from the consumer is sanitized into a newly created by the provider and validated. Only a sanitized contract

[2021-11-30 08:00] juliapampus commented on #317
What happens if the provider is **not** an EDC? The state machine should allow to communcate with non-EDC connectors, at least over IDS. So we cannot be sure that the provider created an agreement from a sanitized contract offer.

[2021-11-30 10:29] jimmarino commented on #317
I don't think it matters if the consumer is an EDC or another implementation. It should always sanitize the contract offer. So, I think the current state machine model we have will handle this case.

Regarding the consumer side, that is a good point, the consumer needs to validate that the `ContractAgreement` it receives matches the last ContractOffer in the `ContractNegotiation`. It should do thi

[2021-11-30 11:29] DominikPinsel commented on #306
I tested the data transfer on the main branch (including requesting the data offers first) and its working fine. Also there is now an update for the simple 5 documentation in PR #321.

<sub>Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md) </sub>

[2021-11-30 13:56] #307 closed

[2021-11-30 14:39] paullatzelsperger opened #323 "Create Fluent Query API for AssetIndex etc."
This is an improvement of the current `Criterion` that is used to submit queries.

## Problem statement
The main problem with the Criterion API is that the user has to supply valid operators and operands. Valid as in "valid in the database's dialect". So the query syntax is dependent on the DB implementation.

For example, submitting an `"IN"`-query to an SQL-style DB would require the right-hand

[2021-11-30 14:45] jimmarino commented on #295
Closing as this work has now been completed.

[2021-11-30 14:45] #295 closed

[2021-11-30 14:46] jimmarino commented on #323
Nice and succinct +1

[2021-11-30 14:51] jimmarino commented on #253
Hi @mohitsaxenaknoldus, sorry for the delay, I didn't see your question. Sure. We have a bit of churn right now in the codebase due to Milestone 1 we want to release on Friday. Would you be able to work on this next week once things calm down a bit? We could always do the change this week if you have time, but please message me so that I can take a look and merge it quickly so it does not go stale

[2021-11-30 14:54] #118 closed

[2021-11-30 14:55] #54 closed

[2021-11-30 14:57] jimmarino commented on #52
A JDK logging extension has been created and it is possible to change the console monitor implementation so I'm going to close this issue out.

[2021-11-30 14:57] #52 closed

[2021-11-30 14:59] jimmarino commented on #20
@paullatzelsperger is this handled by #314, and if so, can we close it?

[2021-11-30 15:01] jimmarino commented on #66
Closing this as these capabilities are implemented by the AssetIndex and DataLoader framework.

[2021-11-30 15:01] #66 closed

[2021-11-30 15:04] paullatzelsperger commented on #20
Yup it is.

[2021-11-30 15:08] jimmarino commented on #71
@paullatzelsperger @juliapampus @ronjaquensel this brings up a good point with respect to ContractOffers. The asset will need to convey the transfer protocols available. This could be on a per-asset or group basis. Something to discuss post-Milestone 1.

[2021-11-30 15:11] mspiekermann commented on #49
We have the IDS communication to transfer data mostly in place, so I can fully agree to close this one, which was created to remind us on the general requiremend. If we run into additional message types, as requirements from use cases, we create separate issues as already proposed.

Just a small note for documentation: In the meantime we decided to not use IDS-REST but go for the Multipart approac

[2021-11-30 15:11] #49 closed

[2021-11-30 15:15] #127 closed

[2021-11-30 15:19] jimmarino commented on #140
Closing as I believe these questions have been addressed.

[2021-11-30 15:19] #140 closed

[2021-11-30 15:20] jimmarino commented on #178
This has already been implemented

[2021-11-30 15:20] #178 closed

[2021-11-30 15:21] jimmarino commented on #245
@MoritzKeppler is this something you can look into for the release? I can help if there are questions.

[2021-11-30 16:15] mohitsaxenaknoldus commented on #253
No problem! Let's do this next week.

[2021-11-30 16:42] marcgs opened #324 "Inconsistent transfer process updates by TransferProcessManager"
The current implementation of the `TransferProcessManager` updates changes to processes in an inconsistent way:
* Sometimes processes are updated although no changes are available. This causes unnecessary write operations and gives issues when updating the state of a process from a separate thread as the TransferProcessManager overwrites the state back constantly.
* Sometimes `TransferProcessListe

[2021-11-30 17:17] ticapix commented on #51
Ok.
In the coordinator mode, EDC can't enforce usage right. It can negotiate access for the first time. Once the access tokens to storage endpoints are shared, it's out of EDC control.
In which case, want does EDC solve that a traditional open policy agent + terraform/Ansible can't ?

[2021-11-30 21:22] jimmarino opened #327 "Document use of REST Assured for testing"
I noticed we have a dependency on REST Assured for testing:

testImplementation("io.rest-assured:rest-assured:4.4.0")

Please document this should be used for integration testing when appropriate and also move the version out to the build properties file so we can keep versioning consistent across modules.

[2021-12-01 08:27] #239 closed

[2021-12-01 10:06] jimmarino commented on #51
@ticapix Sorry if my explanation was unclear but the EDC *can* enforce access control. There are a number of ways to do this.

In the case where storage endpoints are used, the EDC can be configured to create either temporary or long-term access credentials. It can also revoke those credentials at any time for long-running/non-finite processes (e.g., streams). With some infrastructures, it is even

[2021-12-01 10:45] paullatzelsperger opened #330 "Add CommandQueue to TransferProcessManager"
## Problem statement
The `TransferProcessManagerImpl` (TPM) uses several methods to check and advance the state of transfer processes. Those "check-methods" are not transactional, so another process/thread could intercede and perform another modification, which would get overwritten by the TPM, e.g.:
[code]
The fundamental problem is that the read and write calls (here: `nextForState()` and `updat

[2021-12-01 12:45] ndr-brt commented on #330
I agree on refactoring this class, but I'm not able to see how this approach will resolve the concurrency problem, unless we'll have only one class that could handle updates on the `TPS` (at the moment there are 3), and then a command queue approach will solve the problem (only in a case of a single/non clustered EDC instance).

I would model that similarly to the CQRS way: the `command` will be o

[2021-12-01 13:22] DominikPinsel commented on #330
Maybe another approach. I would appreciate it if the state machine would not be known in the SPI. For me that's an implementation detail of the transfer implementation and not some knowledge it should share with other extensions. By eliminating this knowledge, the resolving of the concurrency problem probably becomes a lot easier.

[2021-12-01 13:44] paullatzelsperger commented on #330
@ndr-brt It's almost a CQRS, without the query part :)
in clustered environments we don't have a problem, because (at least for cosmos) there is a leasing mechanism using SPROCs.
The problem arises within the same connector, and by only allowing TP modifications through the command queue we can eliminate concurrency. Granted, it does not strictly speaking _allow concurrency_, rather it _removes_ i

[2021-12-01 14:00] ndr-brt commented on #330
I don't know how that leasing mechanism works, but it will handle also situations like:
[code]
?

[2021-12-01 14:41] jimmarino commented on #330
@ndr-brt these are really good observations. Yes, all modifications need to be done via the command queue, so the ProvisionManager will need to be updated use that mechanism.

Separate Commands and Handlers seem a bit complicated for what we need (it is essentially a unit-of-work), but lets see where the discussion leads.

[2021-12-01 14:43] jimmarino commented on #330
This is an optimistic concurrency scheme. The EDC currently uses exclusive locks so this won't happen.

[2021-12-01 15:01] jimmarino commented on #330
Please see my response to this same question in #246. The core tenet of the EDC architecture - the thing on which everything else is built - is that the transfer process is an asynchronous state machine. This must therefore be reflected in the SPI.

The reason we are facing these issues is because writing distributed systems is difficult. Fortunately, we have a central locking mechanism in the for

[2021-12-01 15:35] marcgs commented on #330
@jimmarino A wish that we would have as EDC users would be to have the possibility of cancelling transfer processes on the consumer side. At the moment we are doing that by using the TransferProcessStore to update the state of processes to ERROR (which caused the concurrency problems that motivated this issue). If the TransferProcessStore is no longer visible we would need another way to do that.

[2021-12-01 15:45] jimmarino commented on #330
@marcgs We definitely need to be able to do that. I'm not sure whether we would hide the TPS or split it into different interfaces. In any event, we need a mechanism to safely update a transfer process. I think some form of a command queue that provides the equivalent of a safepoint for updates will fit the bill. The implementation should be as simple as possible, the tricky part will designing it

[2021-12-01 16:50] ticapix commented on #51
Hi @jimmarino

The sequence of actions is still unclear to me.

I agree that, if EDC was granted control over the user's tenant:
- EDC can control the lifecycle of managed storage services
- EDC can configure the access to managed storage service, via the network and/or via the configuration of the managed storage service

However, once the first token has been shared - or access granted - I don't

[2021-12-01 19:28] jimmarino commented on #51
A few questions in order to answer that:

1. What access rights need to be updated?
2. Why do they need to be updated?
3. Who decides that those rights need to be updated?

[2021-12-01 19:54] ticapix commented on #51
If the goal is to have EDC acting as one time access control, then my question is not relevant.
If the goal is to have EDC really controlling the data access over time, then access rights must be updated. (This is the scenario that was advertised by the Mobility dataspace)

1. the access right being granted on step 4
2. They need to be, only if EDC claims to enforce access rights. Otherwise, once

[2021-12-01 20:14] jimmarino commented on #51
Part of the issue we are having is that our discussion is too abstract, and we don't have a common set of terminology to settle on.

My suggestion would be to back up and define a specific use case we want to address. Once we have that defined, we can map that to an EDC architecture. Otherwise, I'm afraid we will go in circles, and I won't do a good job answering your questions.

That said, Catena

[2021-12-01 20:43] ticapix commented on #51
The sequence diagram above is pretty clear to me, so was the table with the different mode, but ok.

Considering that none of the usecases I heard or have in mind seems to work with EDC, could you provide one ?

Thank you,
Pierre

[2021-12-02 08:43] #203 closed

[2021-12-02 08:44] #20 closed

[2021-12-02 09:16] algattik opened #336 "Consumer does not reattempt transfers when Provider not available at initiation time"
If the consumer calls `org.eclipse.dataspaceconnector.spi.transfer.TransferProcessManager#initiateConsumerRequest` but the Provider is not available, the consumer does not receive an error. If the Provider later becomes available, the request does not get processed.

[2021-12-02 09:16] paullatzelsperger opened #337 "Random test fails"
`ContractNegotiationIntegrationTest.testNegotiation_initialOfferAccepted()` fails randomly, most likely due to the `Thread.sleep(5000)`. Please use `CountDownLatch` for that.

[2021-12-02 11:29] jimmarino opened #338 "LeftOperand class is an enum which is not compliant with IDS or its use of ODRL"
The info model models the LeftOperand of a constraint as an enum. This means that the infomodel cannot express constraints other than those defined in the enum class. For example, it is impossible to express policies that include usage constraints other than the 17 defined in the enum class.

My understanding of IDS is it supports ODRL and extensible policy constraints so this is a bug in the info

[2021-12-02 12:02] algattik commented on #268
Why not use the FS Vault in production? Is this documented?

On the Provider side we are using it only for storing temporary SAS tokens received from the Consumer. We don't need the overhead of an Azure Key Vault for this.

[2021-12-02 12:37] MikhailGordienk opened #339 "Fix S3-to-S3 transfer demo"
The sample needs to be updated, currently, it does not start.

[2021-12-02 12:55] MikhailGordienk commented on #339
I am going to create a PR.

[2021-12-02 13:11] MikhailGordienk commented on #339
PR: https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/pull/340

[2021-12-02 13:25] juliapampus opened #341 "Change contract dates to UTC epoch date"
Dates should be UTC epoch date. At least in the following classes: `ContractNegotiationManagerImpl`, `ProviderContractNegotiationManagerImpl`, `ContractValidationServiceImpl`, `ContractValidationServiceImplTest`, `ArtifactRequestHandler`

[2021-12-02 13:36] jimmarino commented on #51
@ticapix

@ticapix Please don't jump to conclusions. We never said the use cases you have in mind won't work. We are having difficulty arriving at a common set of terminology. We will outline a very specific use case based on an actual project that is currently being developed. I believe this will allow us to make progress as well as keep the discussion grounded in concrete terms.

[2021-12-02 14:26] #304 closed

[2021-12-02 15:18] HamletDRC opened #343 "Some source files say Copyright Microsoft"
Some source files say copyright Microsoft:

https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/spi/build.gradle.kts

But the LICENSE file is Apache. Does Microsoft really have copyright ownership of the specified files? If not, we should really remove the copyright claim. Thanks,

[2021-12-02 15:57] jimmarino opened #344 "ContractDefinitionService can be removed from SPI and made internal to the contract module"
Potentially also ContractValidationService...not critical for Milestone 1

[2021-12-02 17:14] mspiekermann commented on #343
This is the guideline for the Apache Software Foundation (ASF). We are using the Apache 2.0 license, but are not part of the foundation. Our project belongs to the Eclipse Foundation, and we ofc stick to their guideline (see above link).
This is totally fine and is also described in the link you provided **"It does not apply to developers outside the ASF who are applying the Apache License to thei

[2021-12-02 19:26] #280 closed

[2021-12-02 20:11] SebastianOpriel opened #345 "Hint that config is not loadable via IntelliJ's terminal in sample 03"
Whysoever the command of the readme does not work in my IntelliJ's terminal, see: https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/90902a94a6a3c0c48623cf2a7dd43f90970e103f/samples/03-configuration/README.md?plain=1#L58

[code]

But executing it via CMD works:
[code]

OS: Win 10
Java: openjdk 11

[2021-12-02 21:42] jimmarino commented on #308
Done

[2021-12-02 21:42] #308 closed

[2021-12-02 21:42] jimmarino commented on #305
Done

[2021-12-02 23:00] jimmarino commented on #345
I cut-and-pasted the command and it worked fine for me. It appears there may be something wrong with your classpath. However, I'm not on Windows and generally use Zsh so it may be related to the former.

[2021-12-03 06:12] SebastianOpriel commented on #345
I was afraid of that :-) Then let's close the ticket. Thanks for checking Jim!

[2021-12-03 06:12] #345 closed

[2021-12-03 08:11] jimmarino commented on #341
- ContractOffer ZonedDateTime fields need to be converted to UTC timestamps

- IdsContractRequestToContractOfferTransformer and IdsResourceCatalogToDataCatalogTransformer need to convert received XMLGregorianCalendar to UTC, not zoned date times

- Cleanup dead ZonedDateTime imports (e.g. ContractAgreement)

- Seeing that IDS uses XMLGregorianCalendar, ContractOffer and ContractAgreement should ha

[2021-12-03 08:12] juliapampus commented on #341
You can open a PR if you want @jimmarino

[2021-12-03 08:18] jimmarino commented on #336
Thanks for reporting this.

As a note, DataRequestMessageSender will be removed shortly as we now have IdsMultipartSender. However, IdsMultipartSender needs to be updated to distinguish between conditions that should be retried and those that should not (i.e. not authorized).

We can have the sender perform a set of retries directly using the retry library, but after that point (if the error is no

[2021-12-03 09:34] ndr-brt commented on #305
At the moment there's no pipeline that publishes SNAPSHOTS

[2021-12-03 09:39] ndr-brt commented on #253
Talking about this, should the classes/interfaces contained in `policy-model` being moved to `spi`?
I noticed that at the moment, `policy-model` is a dependency of `spi`, but I think `spi` should be at the root of the dependency diagram and not depending by any extensions, neither the core ones.

[2021-12-03 10:31] #343 closed

[2021-12-03 14:10] ronjaquensel opened #352 "Listener for contract negotiation"
Like the TransferProcessManagerImpl, the Provider- and ConsumerContractNegotiationManagerImpl should be observable and provide the possibility to notify listeners about state changes of ContractNegotiation instances. Therefore, a ContractNegotiationListener interface should be added to the spi module. The ContractNegotiationManagerImpls should extend Observable and notify all listeners when a stat

[2021-12-03 14:22] ndr-brt commented on #352
I have another question on this topic: why `TransferProcessObservable` is an abstract class and not simply an interface? Since it does not define any abstract logic

[2021-12-03 14:27] ronjaquensel commented on #352
I assume it's because it extends the Observable abstract class, which contains the logic for registering and unregistering listeners.

[2021-12-03 14:30] ndr-brt commented on #352
whoa, how I could miss that detail? sorry

[2021-12-03 21:01] jimmarino commented on #227
Implemented

[2021-12-03 21:01] #227 closed

[2021-12-04 01:06] #305 closed

[2021-12-04 01:07] #337 closed

[2021-12-06 09:39] Izzzu opened #355 "Support for correlating trace headers between incoming and outgoing requests"
To monitor the E2E transaction flow in our scenario we’d like to build the distributed traces across Client, Consumer, Provider and API backend.

Currently the EDC framework doesn’t support forwarding the [_traceparent_ header](https://www.w3.org/TR/trace-context/#traceparent-header):

- between http request incoming to Consumer API endpoint and the IDS message sent to the provider.
- between http

[2021-12-06 10:43] ronjaquensel opened #356 "Add documentation on DataLoader"
The `DataLoader` and its usage are not yet documented. The documentation should explain how the DataLoader is used and how it can be extended, discuss how `*.json` files are imported and how the DataLoader can be used to implement a "data loading server".

[2021-12-06 10:45] ronjaquensel opened #357 "Introduce a foundation module"
When implementing the contract negotiation subsystem, multiple services needed to be copied from the transfer process module, like the WaitStrategy. These services should be consolidated into a third foundation module that the others depend on.

[2021-12-06 10:56] ndr-brt opened #358 "Give name to ServiceExtension"
As discussed for the refactoring week

#### Description
At the moment every `ServiceExtension` has to log the `Initializated`/`Started`/`Shutdown` events, but that could be done by the `ServiceExtensionContext` and by the `ExtensionsLoader`.
The `ServiceExtension` could have a `name()` method that returns by default the class name but it could also be overwritten.

#### Scope
the `ServiceExtension

[2021-12-06 11:21] #202 closed

[2021-12-06 11:21] DominikPinsel commented on #202
I will create a new issue to remove the sample there. Therefore this issue became obsolete

[2021-12-06 11:37] DominikPinsel opened #359 "Delete IDS Sample Code"
<sub>Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md) </sub>

[2021-12-06 12:28] paullatzelsperger opened #360 "Integration-Tests: replace external systems with self-contained systems"
Integration tests should use self-contained systems (e.g. in a docker container) rather than actual cloud infrastructure.
At the moment we have tests running against Azure CosmosDB and AWS S3.
The following solutions should be looked into:
- CosmosDB Emulator: https://docs.microsoft.com/en-us/azure/cosmos-db/linux-emulator?tabs=ssl-netstd21
- AWS S3: https://hub.docker.com/r/minio/minio/

Lets mak

[2021-12-06 12:37] paullatzelsperger opened #361 "Add another sample focusing on the Contract Negotiation piece"
Sample 04 focuses on data transfer from one directory to another, whereas Sample 05 is the fully-fledged behemoth showcasing deployment and cross-cloud transfers. There is quite a big continuity gap between those two in terms of understanding the connector.

Thus the following things must be done:
- [x] Make sure that the documentation of sample 4 outlines that connectors are intended to run on di

[2021-12-06 12:43] ndr-brt opened #363 "Abstract Result concept"
#### Description
There's a lot of classes in the codebase that represent the concept of a `Result`, something returned by a component that could be a valid content or an error (with details)
#### Scope
All the codebase
#### Benefit
Fo3r EDC developers it will avoid to have to reinvent the wheel everytime they need to return something that could be a valid content or an error
#### Risk
Can't see an

[2021-12-06 12:44] paullatzelsperger opened #364 "Samples: improve the implementation of the `DataFlowControllers`"
Currently there is only two `DataReader` and `DataWriter` implementations: one of each for S3 and Azure BlobStore. This should be expanded additional readers and writers can be supplied easily, e.g. through a registry.

The emerging `DataFlowController` could then even be adopted into the EDC "core" codebase (as opposed to it being a sample).

Linked to #246

will be done together with @bscholtes1

[2021-12-06 12:46] paullatzelsperger commented on #356
Emerges from #246

[2021-12-06 17:15] jimmarino commented on #355
Hi @Izzzu this is interesting. I have a few questions:

1. The consumer and provider are typically controlled by different organizations. Does it make sense to propagate tracing information across that type of boundary (this is separate from client-to-consumer or provider-to-backend)? Could this boundary be handled by the correlation id? For example, IDS (I believe) has a concept of correlation bu

[2021-12-06 19:16] jimmarino commented on #364
Instead of putting it into "core" the extension could offer its own SPI

[2021-12-07 08:59] DominikPinsel commented on #359
From [discussion](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/discussions/246#discussioncomment-1746827)

[2021-12-07 13:07] paullatzelsperger commented on #364
I may have misspoken, I didn't mean the `core` module, I meant it could become part of the "main" EDC codebase. That may entail also adding code to `spi`, e.g. the `DataReader` and the `DataWriter`. I envision the `BlobToS3DataFlowController` becoming an `InlineDataFlowController`, that is agnostic of where data comes from and where it goes to. Its sole job is to shovel bits from A to B.

This is

[2021-12-07 14:22] paullatzelsperger commented on #361
we will have to backport this to sample 4 as well, because using IDS Multipart, every data transfer requires a `ContractAgreement`.

[2021-12-07 14:32] ronjaquensel commented on #361
True, if we wanna remove IDS Rest from sample 4, which makes sense. Then the new sample would actually replace sample 4 instead of sample 5, right? I think once we add contract negotiation to sample 4 and integrate IDS multipart, we're basically already at the new sample. But then we'll have a rather big gap between sample 3 and 4, unless we want to make a sample that performs contract negotiation

[2021-12-07 14:40] ndr-brt opened #373 "VerificationResult as method parameter"
I noticed that the methods `CatalogService.getDataCatalog` and `ConnectorService.getConnector` accept `ValidationResult` as parameter.
In my opinion a result should be evaluated as soon as it appear, and then only its content should be carried on to other components, in this case only the `ClaimToken` contained is necessary to the implementation of the `CatalogService` and of the `ConnectorService

[2021-12-07 14:48] ndr-brt opened #374 "ServiceExtension shutdown duplication"
I noticed that the process of shutting down ServiceExtensions is duplicated in 4 different classes:
`BaseRuntime` (the right place)
`RegistrationServiceRuntime` (that does the same things at the BaseRuntime, so it could be substituted)
`EdcConnectorConsumerRuntime` (pretty similar to BaseRuntime too, probably it can be substituted without regressions)
`EdcExtension` (I think this could be a BaseRu

[2021-12-07 15:52] paullatzelsperger commented on #361
I think IDS Rest will get deprecated and ultimately be removed (cf. PR #367), so we really have little choice. Doing contract negotiation without a transfer sounds a bit ... artificial.
I'd rather have the big gap. So IMO we can add Contract Negotiation to Sample 4 (and also Sample5), document it well and be done with it.

[2021-12-07 16:19] algattik opened #376 "Wasteful to run integration tests on PRs from forks"
https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/2e4b1223dd958efa8793ec5deefe39f83ee741c9/.github/workflows/integrationtests.yaml#L6

It seems wasteful to run (cloud based) integration tests on PRs from forks: with `pull_request_target` the target will be the main repo and not the PR code, therefore these runs are wasted. They may also give a false sense of safety to reviewers

[2021-12-07 16:22] #324 closed

[2021-12-07 16:30] ndr-brt commented on #376
I agree, but now we are working on make integration tests working with self contained systems (#360), so then we could make them run at every commit also on the PRs

[2021-12-07 16:39] ronjaquensel commented on #361
@paullatzelsperger fine by me, then I'll just replace the current sample 4 with the new one.

[2021-12-07 17:12] algattik commented on #360
Also [Azurite](https://docs.microsoft.com/azure/storage/common/storage-use-azurite) for Azure storage

[2021-12-07 17:25] paullatzelsperger commented on #376
In the (distant) future we'd like to have some sort of End-to-End test environment, possibly even several of them, where we could deploy any amount of connectors, storage systems, ...

This would also give us the possibility to run stress tests and advanced scenarios like simulate network outages, latencies, failing K8S pods, etc.

[2021-12-08 06:25] denisneuling opened #378 "Replace checkstyle by spotless"
### Proposal: Replace checkstyle by [spotless](https://github.com/diffplug/spotless)

#### Description

While checkstyle is doing good in verifying contributions stick to our code style guide, it is not able to actually apply those.
Fixing code style violations manually is a time consuming and cumbersome task, which can be avoided using `spotless` (./gradlew spotlessCheck || ./gradlew spotlessAppl

[2021-12-08 08:30] tmberthold opened #380 "Extension possibilities of the IDS DAT validation"
We happened to look over the current IDS DAPS DAT validations implemented. If we haven't missed anything, these validations currently primarily check the DAT claims Audience, NotBefore date, and Expiration date so far.

Looking at the current reference-implementations of the IDSA Dataspace Connector and the Messaging-Services, the validations can be extended for example by the following:

Basic ad

[2021-12-08 09:04] algattik opened #381 "Sample 05-file-transfer-cloud broken (assetId)"
When running sample 05 according to its instructions, the consumer log contains:
[code]

Presumably the cause is a missing assetId in the query

[2021-12-08 13:22] tmberthold opened #382 "Use-Case Experience: Support of ECDSA private keys"
We just had a requirement in the IDSA Dataspace Connector and Messaging-Services to also support ECDSA (ES256) private keys as well as RSA (RS256). Might be worth considering adding support for ECDSA (ES256) private keys in the future as well.

Currently, only RSA private keys are supported in the E-DSC:

https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/cff70576e768cac95ab6255

[2021-12-08 14:36] tmberthold opened #383 "oauth2-core extension Readme"
1. Small hint on a typo in the readme of the oauth2-core extension: The first green dot in the picture below should be `edc.oauth.provider.jwks.url` and not `edc.oauth.provider.jwks.refresh` (probably copy paste mistake).
2. Description for `edc.oauth.client.id` could be missing, at least the EdcSetting is used in the `Oauth2Extension`

![image](https://user-images.githubusercontent.com/75306992/1

[2021-12-09 07:49] mspiekermann commented on #382
@tmberthold sounds good to me and the linked comment also shows the intention for adding support of further key types. Would you like to provide a PR with a proposal?

[2021-12-09 08:05] tmberthold commented on #382
I put it on my list for next week. If someone else has done it by then, that's of course ok too.

[2021-12-09 11:13] ndr-brt commented on #383
Good catch, could you provide a PR for this?

[2021-12-09 11:15] tmberthold commented on #383
I put it on my list for next week. If someone else has done it by then, that's of course ok too.

[2021-12-09 11:50] #358 closed

[2021-12-09 12:06] jimmarino opened #385 "Cleanup IDS SPI packaging and documentation"
There are a number of chores here. We need to come up with a proposal for structuring this module. Some suggested changes:

1. Move IdsId, IdsIdParser, and IdsType to a subpackage under the types package
2. Cleanup the types package
2.a Put Connector and SecurityProfile in a subpackages
2.b Rename the "container" package where OfferedAsset is as this class deals with contracts.
3. Document what Ar

[2021-12-09 12:29] marcgs opened #386 "Possibility of cancelling TransferProcesses"
The EDC API should provide a mechanism to cancel running TransferProcesses in a clean way. To achieve this we are currently using the `TransferProcessStore.update` method to update the process state to ERROR. A problem with that, is that `TransferProcessListeners` are not called back, as with any other state change triggered within the `TransferProcessManager`. Additionally having process updates

[2021-12-09 12:55] jimmarino commented on #382
Hi @tmberthold that would be a great addition. Feel free to sync with @bscholtes1A and @paullatzelsperger who have been working in this area.

[2021-12-09 13:00] jimmarino commented on #386
Hi @marcgs if a basic implementation of #330 could be done in the next two weeks, would that be acceptable? I'm hesitant to put a temporary approach in that will be removed shortly.

[2021-12-09 13:08] marcgs commented on #386
Hi @jimmarino, but wouldn't the implementation #330 require such a `cancelTransferProcess` method in the `TransferProcessManager` interface anyways? As I understand the command queue will be managed internally by the `TransferProcessManager`, so there has to be a way to add a `CancelProcess` command through its interface, correct?

[2021-12-09 13:21] tmberthold commented on #380
I recommend to make the `referringConnector` / `issuerConnector` setting configurable, use-case experience shows that the `referringConnector` specification in the DAT does not always match the `issuerConnector`, although it should. Mostly the reason is the content of the DAT and configuration of the connector at the DAPS. We had no problem with the `securityProfile` so far, if it was included in

[2021-12-09 15:47] jimmarino commented on #386
It may be a Command implementation and not require a separate method. I just want to make sure we address this holistically when we tackle the issues

[2021-12-09 16:03] Izzzu commented on #355
Hi Jim!
Thanks for your questions.

Yes, it can be also very useful to propagate the tracing information across organisations, even if they are using different vendors. This will also help overall a request debugging. If one organisation wants to report an issue to other organisation they can report it with a tracing context information and by using this information other organisation may debug it

[2021-12-09 17:09] paullatzelsperger commented on #360
has anyone ever actually used Azure CosmosDB Emulator in a Github Action?
My problem is the following:

[this guide](https://docs.microsoft.com/en-us/azure/cosmos-db/linux-emulator?tabs=ssl-netstd21) instructs to export the certificate from the emulator. Since the certificate is different for every running container, we cannot check it in to VCS.

When I try to obtain the cert from `localhost:8081

[2021-12-09 22:58] paullatzelsperger commented on #360
Quick update: I was able to fix the connection error, turns out there needs to be a wait loop, since the docker image for CosmosDB does not have a health command.
Next issue is related to Java Keystores though.

[2021-12-10 07:25] ronjaquensel opened #390 "Endpoint for negotiation state"
After a contract negotiation has been triggered, the client API's endpoint `/negotiation/{id}` has to be called in order to see the negotiation's current state. This endpoints returns the whole negotiation, which probably exposes an unnecessary amount of data. Another endpoint `/negotiation/{id}/state` should be added, which returns just the state and - if the negotiation has completed successfull

[2021-12-10 07:26] ndr-brt opened #391 "Release the first non-SNAPSHOT version"
Could be a good idea to release the 0.0.1 version, because, from an external perspective, using a SNAPSHOT version is too prone to unexpected changes from night to day.
The release would also marked as unstable, as we already stated, every release will be unstable until 1.0.0

[2021-12-10 08:48] algattik opened #393 "TransferProcessManager only acts on 5 transfers"
The `TransferProcessManagerImpl` only retrieves a batch of 5 transfers to advance their state, so it is possible in principle that any given transfer will never advance if the system is under load.

In practice, the In-memory and Cosmos DB store implementation retrieve the oldest transfers (though this is undocumented), so the issue is milder. However, if 5+n (n>=0) transfers take a long time, a n

[2021-12-10 09:36] ndr-brt opened #394 "NPE on "No Contract Agreement with Id <UUID> found""
Got this exception while trying the new sample 04 on PR #388
This happens because on `ArtifactRequestHandler` when the contract negotiation store returns a null agreement the flow continues, but there should be an error response returned:
https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/98970c03d305cb7f89e016f4a8c01fda4c154b21/data-protocols/ids/ids-api-multipart-endpoint-v1/s

[2021-12-10 10:03] DominikPinsel commented on #393
There is also another problem with the batch size. If for example 5 transfer process are in the state `PROVISIONING` (depending on the  implementation of the `TransferProcessStore`) it might be possible that always same 5 items are retrieved. In case of an error it is possible that the states are not advanced correctly. This would block other processes from being processed. Therefore I'd go with t

[2021-12-10 10:12] paullatzelsperger commented on #360
Here's my thoughts about replacing a Azure-based CosmosDB with the Emulator for testing.
Pros:
+ does not incur cost with CosmosDB
+ everyone can execute the tests locally without an azure subscription

Cons:
- No dedicated Github Action exists, only third-party ones that only work with Windows Runners.
- Only a (lightly documented) Docker image exists, docker container takes quite a bit of time t

[2021-12-10 10:14] alexandrudanciu opened #395 "Edge case of multiple extensions contributing the same type of service"
During the refactoring week, the following issue was raised:

**Description**
Loading multiple extensions contributing the same type of service (e.g., WebService) would result in replacing the previous one in the corresponding map (cf. DefaultServiceExtensionContext#registerService on line 125).
The proposal is to either throw an exception during the startup, or at least to write warnings to the c

[2021-12-10 10:51] tmberthold opened #397 "(SecurityProfile) Possible misleading IllegalArgumentException-message"
https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/98970c03d305cb7f89e016f4a8c01fda4c154b21/data-protocols/ids/ids-spi/src/main/java/org/eclipse/dataspaceconnector/ids/spi/types/SecurityProfile.java#L34

The method takes strings representing the values of the enums, i.e. `base`, `trust` or `trust-plus` and outputs the corresponding enum, e.g. working for `SecurityProfile.fromVal

[2021-12-10 12:38] paullatzelsperger commented on #391
The question will be, _when_ to release version 0.0.1. I think at least the following features should be included:
- contract negotiation
- data transfer via IDS multipart
- whatever the result of the refactoring week is

[2021-12-10 12:46] paullatzelsperger commented on #376
unfortunately, the CosmosDB Emulator is ... (how do I put this politely) ... a bit clunky to use, see my comment in issue #360, so I'm afraid we are stuck with a test instance in Azure for the time being.
Feel free to weigh in or contribute though :)

[2021-12-10 12:50] ndr-brt commented on #391
I think we can identify a set of issues that needs to be implemented for the release, and in parallel define the release process (someone mentioned gitflow but I think there could be also alternatives to be discussed), changelog handling and so on...

[2021-12-10 13:09] jimmarino commented on #393
Hi, @algattik there are a few things we should account for:

1. We should definitely document the requirements on the underlying store w.r.t. the expectation that the oldest processes should be selected and the need for locks (or another form of exclusivity) in clustered environments (this question was brought up in another thread).

2. The TPM operates on all relevant states during a single tick

[2021-12-10 13:29] #256 closed

[2021-12-10 13:32] #361 closed

[2021-12-10 13:33] alexandrudanciu commented on #395
This issue represents an alternative approach to the issue  #124 / PR #126 (which will be placed on-hold for the moment). A GH discussion will address how to proceed with issue  #124 / PR #126.

[2021-12-10 13:34] #240 closed

[2021-12-10 14:31] juliapampus opened #400 "Incorrect values in negotiation object"
Running sample 4 and taking a look at the negotiation output, I just noticed some incorrect values. Maybe due to an error, or missing value settings. Or just due to the sample setup - then this can be ignored. Comments welcome.

A sample negotiation object, performing a request on `GET /api/control/negotiation/{id}`, could look as follows:
[code]

- [ ] `CorrelationId` should not be null as the ne

[2021-12-10 14:59] #299 closed

[2021-12-13 06:51] paullatzelsperger commented on #381
quite a bit of work was done in that area and in the samples over the last couple of days. would you mind checking if this still persists?

[2021-12-13 07:32] paullatzelsperger commented on #221
There are a few issues and PRs linked to this:
- Issue #360 that resulted in #389 (BlobStore) and #377 (AWS S3)
- Issue #398: small typo
Let's revisit this issue once the above mentioned stuff gets merged and perhaps close it

[2021-12-13 08:03] DominikPinsel opened #402 "Migrate and remove ids-api-catalog"
From https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/pull/367

[2021-12-13 08:04] DominikPinsel opened #403 "Migrate and remove ids-api-transfer"
From https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/pull/367

[2021-12-13 08:34] ndr-brt commented on #393
I think that the command queue will resolve this issue, there will be no need for querying the store for a batch of TP but every action would create a command and that would be the only way to change the state of a TP.

That would permit then optimizations like, parallelizing the command handling on TP with different id, and in a clustered environment with a db that lacks a central locking mechani

[2021-12-13 10:08] ndr-brt opened #404 "Release artifacts on Maven Central"
Since github packages require authentication for retrieve the artifacts, would be nice to publish them on maven central.

[2021-12-13 10:48] tmberthold opened #405 "(Samples) Inconsistency in return type"
The `HealthApiController` is specified to produce JSON.

https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/152d47854f67731cff554831f5df8a0a3726307f/samples/02-health-endpoint/src/main/java/org/eclipse/dataspaceconnector/extensions/health/HealthApiController.java#L12

But produces simple plain text.

https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/152d47854

[2021-12-13 12:13] paullatzelsperger commented on #405
Hey, thanks for noticing. Could you submit a PR to fix this? Either solution is fine.

[2021-12-13 12:20] tmberthold commented on #405
Will do, made a note on my list.

[2021-12-13 12:26] ndr-brt commented on #405
I think this problem exists also in the samples 3/4/5

[2021-12-13 12:46] cpeeyush opened #407 "SDK usage - Essential- Improve SDK documentation"
- Add Javadoc to improve documentation.
- Add annotations to describe which classes and services are stable and to be used by extensions vs. internal ones.
- [APIGuardian](https://github.com/apiguardian-team/apiguardian) can be used to annotate public types, methods, constructors, and fields within a framework or application in order to publish their status and level of stability and to indicate h

[2021-12-13 13:24] marcgs commented on #393
@jimmarino  I would actually try to solve 3. with the highest priority. Realising that the consumer connector remains in the same state polling for results indefinitely whenever an exception in the provider's `DataFlowManager` is thrown, is what initially brought us to create a mechanism to cancel long running requests in a separate watchdog thread (doing essentially what you described in point 3)

[2021-12-13 14:32] ndr-brt opened #408 "Improve Oauth2 configuration missing error message"
At the moment, if I try to start a connector with the module `oauth2-core` without setting the property `edc.oauth.token.url` I get this error:
[code]

Instead, this should give a message like:
[code]

[2021-12-13 14:47] ronjaquensel opened #409 "Service for wait strategy configurations"
The `spi` module currently contains 3 wait strategy interfaces: `WaitStrategy`, `TransferWaitStrategy` and `NegotiationWaitStrategy`. As the same implementaions can be used for transfer and negotiation, the two sub-interfaces can be ommitted. But this would remove the possibility to use different wait strategies for both, if an implementation is registered in the context under `WaitStrategy.class`

[2021-12-13 17:03] algattik commented on #381
Now this fails with

`java -Dedc.fs.config=samples/05-file-transfer-cloud/provider/config.properties -jar samples/05-file-transfer-cloud/provider/build/libs/provider.jar`

[code]

[2021-12-14 07:36] #363 closed

[2021-12-14 07:39] tmberthold commented on #405
Fixed with https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/commit/d83c90fc646968dc7396a58cd1ce4bc2f0cea5ad

[2021-12-14 07:39] #405 closed

[2021-12-14 09:39] #357 closed

[2021-12-14 11:10] DominikPinsel commented on #381
I will have a look at this

[2021-12-14 13:15] marcgs opened #416 "Reliability - Critical - Configurable timeout for TransferProcess"
TransferProcesses might get stuck in a state for a long time, or even indefinitely when errors occur. The `TransferProcesManager` should monitor this situation and react to it after a configurable threshold by moving the process to an ERROR state, effectively taking the TransferProcess out of the state machine processing loop.

The threshold should be configurable on a TransferProcess basis, as ap

[2021-12-14 13:16] marcgs commented on #393
@jimmarino I opened a separate issue #416 to track point 3.

[2021-12-14 13:20] marcgs commented on #416
For reference, [here](https://github.com/catenax/tractusx/pull/336) we implemented a watchdog process that cancels long running TransferProcesses. Probably it is easier to solve this issue directly in the main state machine loop though.

[2021-12-14 13:24] cpeeyush opened #417 "Architecture - Important - Polling status checker improvement"
Consumer polls for Provider work completion by [listing blobs](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/355b101a6575c954943507efeae299b1c8f50c0a/extensions/azure/blob/provision/src/main/java/org/eclipse/dataspaceconnector/provision/azure/blob/ObjectContainerStatusChecker.java#L58) in a Storage Containers in a [tight loop](https://github.com/eclipse-dataspaceconnector/D

[2021-12-14 13:40] marcgs opened #418 "Handling Exceptions in DataflowController"
When a TransferProcess is in PROVISIONED state, the provider connector initiates the transfer by calling `org.eclipse.dataspaceconnector.spi.transfer.flow.DataflowController#initiateFlow`. The javadoc on this interface specifies the contract "Implementations should not throw exceptions" and instead return an appropriate `DataFlowInitiateResponse`.

However if an exception is accidentally thrown du

[2021-12-14 13:43] cpeeyush opened #419 "Observability - Essential - Expose essential metrics"
Essential metrics such as number of queries, processing time, retries etc. are not being captured and exposed by the EDC framework. [Micrometer](https://micrometer.io/) can be used to capture these metrics and can be exposed over a [Prometheus endpoint](https://micrometer.io/docs/registry/prometheus).

[2021-12-14 13:57] Izzzu opened #420 "Observability - Essential - Missing logging"
Logging is missing in following places:

- If the Provider URL is unreachable
    - Possible solution: add log messages in DataRequestMessageSender/QueryMessageSender classes
- When the requested artifact is not found in the asset index
    - Possible solution: add log message in ArtifactRequestController class

Suggestion to consider:
- implementing toString methods for descriptive logging and as

[2021-12-14 14:09] ndr-brt commented on #330
To split this activity one task could be to avoid calling of `transferProcessStore.update` from components that are not the `TransferProcessManager`. That will help introducing command because all the logic that handles TP state modification will be in a single place. Will open a PR soon.

[2021-12-14 14:41] cpeeyush opened #422 "SDK usage - Essential - Streaming usage of blob API to fetch a blob"
The EDC SDK provides a façade for the Azure Storage SDK, which provides a [getBlob ](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/355b101a6575c954943507efeae299b1c8f50c0a/extensions/azure/blob/api/src/main/java/org/eclipse/dataspaceconnector/common/azure/BlobStoreApiImpl.java#L95) operations that requires downloading blob's entire content into memory, which can be a potent

[2021-12-14 15:06] marcgs opened #423 "High Availability - Critical - Provider High Availability"
If a provider connector fails after receiving a request, a transfer process needs to be picked up by another provider connector instance. This is specially important when deploying to Kubernetes, since pods can be restarted at any time (e.g. VM autoscale).

A `TransferProcessStore` backed by an external storage is required to achieve this. In addition a transfer process leasing mechanism to orches

[2021-12-14 15:36] Izzzu opened #424 "SDK usage - Useful - More extensive implementation of Builders"
More extensive implementation of Builders could help when writing test code.

Suggestions to consider:
- Using _toBuilder_ functionality (it’s an instance method that creates a new builder starts out with all the values of this instance, helpful with creating test data, this functionality is available in a [builder offered by Lombok framework](https://projectlombok.org/features/Builder)).
- Using

[2021-12-14 15:40] cpeeyush opened #425 "Architecture - Useful - Resource lifecycle management"
The EDC framework provides managed creation of storage resources, but not for their destruction. More comprehensive management of cloud resources (e.g. blob policies, permissions, expiration, container destruction) would be useful.

[2021-12-14 15:56] Izzzu opened #427 "SDK usage - Useful - Use immutable types"
Some classes don't provide the immutability. Using [immutable object types](http://www.javapractices.com/topic/TopicAction.do?Id=29) would bring the advantages:
- Immutable objects are thread-safe and require no synchronisation.
- The code is easier to read and reason about.
- The internal state of the application stays consistent.
- References to immutable objects can be cached.
- The failure ato

[2021-12-14 16:03] cpeeyush opened #428 "Observability - Important - Logging framework"
EDC usages a custom logging framework ([Monitor](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/spi/src/main/java/org/eclipse/dataspaceconnector/spi/monitor/Monitor.java), [Console Implementation](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/core/bootstrap/src/main/java/org/eclipse/dataspaceconnector/monitor/ConsoleMonitor.java)) that is mi

[2021-12-14 18:21] paullatzelsperger commented on #427
could you provide an overview of what classes you mean in particular?

[2021-12-14 18:33] paullatzelsperger commented on #424
There was a [discussion](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/discussions/246#discussioncomment-1743018) about Lombok, and we decided against it, because it modifies the AST and can potentially cause nasty problems when the compiler API changes. @jimmarino did a more detailed investigation if you're interested.

[2021-12-14 18:36] paullatzelsperger commented on #423
the lease expiration has been [implemented](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/extensions/azure/contract-negotiation-store-cosmos/src/test/resources/nextForState.js), it just has not been ported to the TPS yet.

[2021-12-15 00:37] jimmarino commented on #428
We decided not to select a specific logging framework and instead leave that to users to plug in their desired one of choice.

Regarding the specific points:

1. IMO there are better options than logging class name (which has very little operational value) such as including a more descriptive message or a stacktrace if there is an error. However, if someone wanted to do this in their own code, it

[2021-12-15 00:52] jimmarino commented on #424
Yes, there are numerous issues with Lombok including the issue that Lombok makes use of internal, undocumented Java compiler APIs. This would prohibit us from supporting new versions of the Java if those APIs changed (like they did in Java 9) until Lombok releases a fix.

It also includes a significant number of extensions to the Java language that often result in difficult to understand code.

An

[2021-12-15 00:54] jimmarino commented on #423
@marcgs this would be a great hardening task

[2021-12-15 00:55] jimmarino commented on #418
The TPM should also catch these exceptions so the event-loop is not aborted.

[2021-12-15 04:57] algattik commented on #428
Given SLF4J is already a dependency, why not use it? The motivation you quote is exactly the one behind SLF4J, and it seems advantageous to leverage existing work.

1. The notion of logger hierarchy is quite important in practice, to assign a particular log message to a specific component of an application, and provide granularity in controlling log levels.

2. Indeed increasing logging scope woul

[2021-12-15 05:24] algattik opened #429 "Architecture - Important - Single JVM and Classloader limitations"
The requirement to build our extension business code to run in the same JVM and class loader as the EDC code prevents our choice of programming language and runtime. It causes a form of "JAR Hell". The Jetty web server introduces many dependencies such as Logging, Validation. These introduce lock-in, besides, some of these are alpha versions.

We were not able to reuse our preexisting Spring Boot

[2021-12-15 05:42] algattik opened #430 "Architecture - Important - Scale-out deployments"
We architected our business application with EDC as follows:
- A client application issues an HTTP request to the Consumer connector. A Service distributes these in round-robin to a pod deployment.
- Our customer extension code interacts with the EDC SDK to send an HTTP request to the Provider connector. A Service distributes these in round-robin to a pod deployment.
- The Consumer connector that

[2021-12-15 05:51] algattik opened #431 "SDK usage - Important - Extension point for Jetty configuration"
We wanted to introduce custom exception mappers in our JAX-RS controller. Other foreseeable use cases include middleware for authentication, payload management etc.

We would need an extension point in EDC to provide custom configurations for the Jetty web server. In embedded mode, it appears Jetty does not scan the classpath for `@Provider` annotations.

[2021-12-15 05:54] algattik commented on #428
Another comment: the name `Monitor` used in EDC to mean Logger is confusing, this is not about monitoring.

[2021-12-15 05:57] algattik opened #432 "DevOps - Useful - provide Helm charts"
Providing sample charts would accelerate implementation and favour use of best practices.

[2021-12-15 06:00] algattik opened #433 "DevOps - Useful - Service credential managed identity"
EDC requires a principal with an X.509 certificate. That is cumbersome to deploy with IaC and manage. **Managed Identity** and **Service principal passwords** are useful alternatives in cloud environments.

[2021-12-15 06:17] paullatzelsperger commented on #433
The SP is primarily used for the `AzureVault`, which also supports Client-Secret-based auth, even though it is currently not used.
To my knowledge, Terraform supports creating certificates, so it shouldn't be a problem.

We don't support ManagedIdentities at this point though, that's certainly something that can be added.

[2021-12-15 07:38] jimmarino commented on #428
@algattik We have already decided not to use a particular logging framework. The dependency on SLF4J is there because of a third-party library and I would like to remove that.

Regarding the issues, please discuss concrete requirements and we can address those. I'm going to close this issue as we have already addressed this decision.

[2021-12-15 07:38] #428 closed

[2021-12-15 07:58] jimmarino commented on #431
@Provider instances are already supported and can be registered with WebService, .cf HttpApiKeyAuthContainerRequestFilter for an example.

[2021-12-15 08:43] marcgs commented on #418
@jimmarino I think this is already the case, see [TransferProcessManagerImpl](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/core/transfer/src/main/java/org/eclipse/dataspaceconnector/transfer/core/transfer/TransferProcessManagerImpl.java#L136). This is exactly the point where the error message is logged.

[2021-12-15 08:47] tmberthold commented on #383
fixed with https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/commit/d71097bc097eb9285501a42e87b35ddd43a1ec41

[2021-12-15 08:47] #383 closed

[2021-12-15 08:49] marcgs opened #434 "Architecture - Essential - "at-least-once" TransferProcessListener"
Triggering custom logic on TransferProcess state changes requires registering a [TransferProcessListener](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/spi/src/main/java/org/eclipse/dataspaceconnector/spi/transfer/TransferProcessListener.java). However listeners are not guaranteed to be called, e.g. if the instance crashes after persisting the state change but before i

[2021-12-15 09:31] jimmarino commented on #430
@algattik thanks for this. Can we move this to a discussion (and close the issue) until we have concrete issues that can be addressed with PRs?

[2021-12-15 09:40] jimmarino commented on #429
There is nothing to preclude running the EDC as a sidecar. That deployment scenario has already been factored into the EDC design.

Also, the Jetty server extension can simply be replaced with an alternative by changing the extension.

[2021-12-15 09:44] #431 closed

[2021-12-15 10:02] #424 closed

[2021-12-15 10:17] jimmarino commented on #434
Can this issue be solved by calling the listeners before the state change? This could involve defining before and after change events?

I would be hesitant to add additional states for this as calling listeners seems to be an implementation detail and not a state transition itself.

Couldn't the optional items be implemented using strategies in the listeners themselves so that this complexity is n

[2021-12-15 10:19] jimmarino commented on #425
@paullatzelsperger this can be a use case for the command queue, correct?

[2021-12-15 10:23] paullatzelsperger commented on #425
Yup, think so. Provided there is an ingress path for such a "decommission" signal

[2021-12-15 11:58] Izzzu commented on #427
It's about all objects which state can be modified after the creation.
Some examples could be: DataAddress, DataRequest, ResourceManifest, TransferProcess, ProvisionedResourceSet from the spi module.
There are also some classes in identity-did-spi e.g. DidDocument, DidDocumentMetadata, DidResolveResponse.

This point is to consider if it would make sense to minimise the object mutability when poss

[2021-12-15 13:11] DominikPinsel opened #435 "Naming - DID - Rename Distributed Identity to Decentralized Identifier"
Rename the package `extensions/iam/distributed-identity/..` to `extensions/iam/decentralized-identifier/..`

<sub>Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md) </sub>

[2021-12-15 13:14] DominikPinsel opened #436 "SPI - Move `DataLoader` implementation out of corresponding SPI"
The `Dataloader` implementation should probably be moved out of the SPI `extensions/dataloading/dataloading-spi`

Link
https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/extensions/dataloading/dataloading-spi/src/main/java/org/eclipse/dataspaceconnector/dataloading/DataLoader.java

<sub>Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](ht

[2021-12-15 13:17] DominikPinsel opened #437 "SPI - Move `AssetLoader` interface into corresponding SPI"
The `AssetLoader` interface, which should be implemented by extensions, is not part of an SPI.
Move it from `extensions/dataloading/dataloding-assets/` to`extensions/dataloading/dataloding-spi/`

https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/extensions/dataloading/dataloading-asset/src/main/java/org/eclipse/dataspaceconnector/dataloading/AssetLoader.java

<sub>Dominik

[2021-12-16 08:28] marcgs commented on #434
For our concrete use case it would make no difference to have the listeners called before state change (not sure if there are use case where it would though). The [current API](https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/blob/main/spi/src/main/java/org/eclipse/dataspaceconnector/spi/transfer/TransferProcessListener.java#L28) specifies that the callback is done after the state

[2021-12-16 12:10] denisneuling opened #438 "Lib - Postgresql - Provide library to support postgresql as data retention site"
Postgresql is one of the most widely used relational database management systems, so it's a natural need to provide support using it within the EDC.

<sub> Denis Neuling <denis.neuling@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md)

[2021-12-16 14:34] a-trzewik opened #440 "can not clone project, file name too long - please; some people use windows"
unable to clone the repository please remote the test file

$ git clone https://github.com/eclipse-dataspaceconnector/DataSpaceConnector.git
Cloning into 'DataSpaceConnector'...
remote: Enumerating objects: 35169, done.
remote: Counting objects: 100% (2/2), done.
remote: Compressing objects: 100% (2/2), done.
remote: Total 35169 (delta 0), reused 0 (delta 0), pack-reused 35167
Receiving objects: 1

[2021-12-16 14:59] ndr-brt commented on #440
Do you know what's the limit for the file name on windows?
If I'm not wrong the filename is used by the omejdn to identify the name of the client, but we can find an alternative anyway

[2021-12-17 07:39] paullatzelsperger commented on #433
There is a PR (#442) from @bscholtes1A that takes care of the client secret secret part.

[2021-12-17 08:08] DominikPinsel opened #444 "Extension - AssetIndex - Integrate the PostgreSQL library"
Issue #438 provided a library that supports PostgreSQL persistence. Integrate this library in a new `AssetIndex` extension.

<sub>Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md) </sub>

[2021-12-17 09:25] ndr-brt commented on #221
New error on the Daps test side:
[code]

I found this: https://github.com/actions/checkout/issues/211
I will open a PR accordingly (PS: seems like the `${{ github.workspace }}` binding works, so I will include it)

[2021-12-17 13:47] #402 closed

[2021-12-17 14:38] ndr-brt commented on #221
the reset permission fix worked, now we have another error:
[code]
this is strange because the daps server seems to start but seems not reachable

[2021-12-17 14:56] #220 closed

[2021-12-17 16:55] mohitsaxenaknoldus commented on #253
@jimmarino PR: https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/pull/450

[2021-12-17 20:39] paullatzelsperger commented on #221
Did you try running the test in a container (as opposed to: directly in the runner) and accessing daps through the hostname provided by docker networking?

[2021-12-20 07:25] algattik commented on #433
Thank you @bscholtes1A :) Updated title to reflect that only managed identity would be to-do

[2021-12-20 07:31] algattik commented on #434
Indeed calling the listeners after persisting the state change should resolve the issue. This would ensure that if the manager loop crashes before persisting the state change, and the process restarts, we are guaranteed that the listeners are called again (potentially more than once).

I don't think *after state change* events are needed in addition.

[2021-12-20 09:04] DominikPinsel opened #452 "Add Unit Tests to `DataAddress` (and fix possible issues)"
The class `DataAddress` is currently missing some Unit Tests. At the same time I assume there might be some issues within the implementation.

Here a list of things to address within this issue. But maybe there are more:

### 1. `KeyName` and `Type` Setter

I would assume the setter are only working, when the corresponding property was set before in the builder.

[code]

[code]

### 2. Required Pr

[2021-12-20 10:50] DominikPinsel opened #453 "Extension - AssetLoader - Integrate the PostgreSQL library"
Issue #438 provided a library that supports PostgreSQL persistence. Integrate this library in a new `AssetLoader` extension.

<sub>Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md) </sub>

[2021-12-20 12:52] ndr-brt commented on #434
I wouldn't change the order of the execution, `TransferProcessListener` has methods expressed in the past tense like `created` and `provisioned`, so they should be executed after the state change, otherwise this will introduce confusion.
In my opinion the cleanest approach is to introduce events, that could also become the source of truth for `TransferProcess` entity.

[2021-12-20 12:54] algattik commented on #434
The methods could be renaming to `...ing`. What do you mean by introduce events, isn't that essentially the payload to these listeners? How would the implementation of at-least-once differ?

[2021-12-20 13:03] DominikPinsel commented on #453
PR #455

[2021-12-20 13:06] ndr-brt commented on #434
yes, they could, but a listener should listen to something that happened, not something that is going to happen, that is confusing...
what does it mean it's `provisioning`? the provision is started? some resources are provisioned? something went wrong?
I would change that in `provisionTriggered` or `provisionStarted`, that is a clear statement: something happened.

Using events would help for the

[2021-12-20 13:08] algattik commented on #434
So you mean the listener would be called on another thread, right?

[2021-12-20 13:10] ndr-brt commented on #434
Yes, could be also by another instance of the connector.

[2021-12-20 13:12] algattik commented on #434
We would still have to send the event to the event persistence store before persisting the transfer state. As I understand @jimmarino's comment, the idea is that the implementor could plug such a mechanism themselves. It seems there is even such an implementation for Azure Event Grid in the codebase already.

[2021-12-20 13:20] DominikPinsel commented on #434
So in case this event is send to the EventGrid before the TransferProcess is stored, the other connector still could not tell with certainty whether the store wasn't updated in the meantime until he is able to process the Event?

[2021-12-20 13:20] ndr-brt commented on #434
In my idea, an ordered list of events represent also the state change, so if the event is persisted, the state is changed, otherwise not.
The core could persist and publish those events to all the subscribers.

[2021-12-20 13:23] ndr-brt commented on #434
The event would be published only after its persistence (that will determine the state change). The event grid will become overkill, because the `TransferProcessStore` will already contain all the events.
Those are the basics of the "Event sourcing" pattern.

[2021-12-20 14:21] ndr-brt commented on #434
The listeners would have the possibility to retrieve the events that are still not processed

[2021-12-21 07:33] #429 closed

[2021-12-21 08:40] ndr-brt commented on #330
I have a question, looking at the current main branch, seems like the "deprovision" phase is not automatically started after transfer completion but it's triggered calling the `deprovision` method.
Is this right or that should be automatic?

[2021-12-21 12:36] DominikPinsel opened #460 "Extension - ContractDefinitionStore - Integrate the PostgreSQL library"
Issue #438 provided a library that supports PostgreSQL persistence. Integrate this library in a new `ContractDefinitionStore` extension.

<sub>Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md) </sub>

[2021-12-21 12:36] DominikPinsel commented on #460
PR #458

[2021-12-21 12:38] DominikPinsel opened #461 "Extension - ContractDefinitionLoader - Integrate the PostgreSQL library"
Issue #438 provided a library that supports PostgreSQL persistence. Integrate this library in a new `ContractDefinitionLoader` extension.

<sub>Dominik Pinsel <dominik.pinsel@daimler.com>, Daimler TSS GmbH, [legal info/Impressum](https://github.com/Daimler/daimler-foss/blob/master/LEGAL_IMPRINT.md) </sub>

[2021-12-21 12:39] DominikPinsel commented on #461
PR #459

[2021-12-21 13:45] jimmarino opened #463 "Data Plane Framework"
# Overview

This issue will detail the architecture and design of the Data Plane Framework (DPF), which will provide a mechanism for implementing an extensible `DataFlowController` that supports a myriad of deployment topologies.

## Scope

The Data Plane Framework is designed to only work with finite data transfers and small payload, latent non-finite transfers such as events. High-volume or late

[2021-12-21 16:07] #253 closed

[2021-12-22 06:37] algattik opened #465 "Image assets: inclusive content / potential license issue"
Please update image assets to reflect the [Code of Conduct](https://www.eclipse.org/org/documents/Community_Code_of_Conduct.php), e.g. (NSFW) resources under https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/tree/main/samples/other/copy-file-to-s3bucket/src/main/resources

Also the license status of assets should be clarified, e.g.
https://github.com/eclipse-dataspaceconnector/DataS

[2021-12-22 07:55] paullatzelsperger commented on #465
i think its easier to just can them and replace them with some other file. doesn't have to be an image to showcase the demo.

[2021-12-22 10:47] mspiekermann commented on #465
If the showcase does not add value I would also vote for just removing it. Otherwise, I could change images to some that clearly are free for commercial use and no attribution is required.
@paullatzelsperger just give me a ping if we choose the latter.

[2021-12-22 10:49] paullatzelsperger commented on #465
as far as i remember this was one of the very first samples we did, even before the project moved to Eclipse, so I'm not even sure it still works :)
lets remove it, that'll keep the samples nice and tight.

[2021-12-22 14:00] paullatzelsperger opened #469 "Refactor the module loading"
## Restructuring the `core` module

This will be refactored to contain only three sub-modules, those are:
- `core:base`: will contain all modules currently located in `core`, except `transfer` and `contract`
- `core:contract`: contains all contract-management-related implementations
- `core:transfer`: contains all transfer-management-related implementations

## Dependency loading - requirements an

[2021-12-22 15:17] ndr-brt commented on #469
Looks good!

A proposal: since we are introducing annotations, why not a `@Feature` annotation to be added on the interface representing the feature (e.g. `AssetIndex`)? This annotation would have as `value` the feature string.
This would avoid the need to remember to add the `FEATURE` constant into the interface and would permit the `@Requires` and `@Provides` to accept an array of class objects

[2021-12-22 15:28] paullatzelsperger commented on #469
- ad 1) let me look into that. We would then have something like `@Requires(AssetIndex.class)`, right? Not sure if this is more readable than `@Requires(AssetIndex.FEATURE)`
- ad 2) I agree, `spi` should not have any dependencies. the way I'd approach this is to rip apart the `spi` into several "sub"-spi's, like `contract-spi`, `transfer-spi`, etc. thus breaking the cyclic deps

[2021-12-22 15:33] jimmarino commented on #469
I could go either way on 1. Regarding 2, the two policy modules should not have any dependencies on the runtime. This is so they can be embedded in other runtimes without dragging other things in, e.g. a validation tool or backend system that needs to perform evaluation. We can rename the module if that makes it clearer.

[2021-12-22 15:44] ndr-brt commented on #469
1) yes, since that notation will miss the `FEATURE` word could be less understandable, but it will clearly define a what is a Feature and what does it need. Some validation could be done in the loading phase: e.g: check if the extension provides/requires something that it's an existing Feature and not a random string.

2) it could be called `policy-spi` and put at the same level of `spi` (that cou

[2021-12-22 16:28] ndr-brt commented on #427
I agree on making our value objects immutable, I just want to point that `TransferProcess` is not a value object, it's an entity, with an identifier and a "story", so it needs to be mutable (at least from a classic DDD perspective).

[2021-12-22 17:03] paullatzelsperger opened #470 "Implement CommandQueue"
## Problem statement

We'll run into situations, where persistent objects such as Transfer processes need to be modified from different threads, or even different runtimes, so we need to guarantee strong consistency, otherwise they could be overwritten and we could get an inconsistent state.

This proposal deals with the implementation of a command queue, which realizes the "command"-part of a CQR

[2021-12-23 07:44] jimmarino commented on #469
on 2,  +1. We can do that in the next step when we break up the SPI a reshuffle modules

[2021-12-23 09:12] #465 closed

[2021-12-23 10:01] paullatzelsperger opened #472 "Metrics should be posted on a separate port"
Metrics should be posted on a separate port that is not accessible externally. With Jetty we can do this with `SelectChannelConnector`s.

_Originally posted by @algattik in https://github.com/eclipse-dataspaceconnector/DataSpaceConnector/pull/412#discussion_r768378200_